@using CSSPWebTools.Models;
@using CSSPWebTools.Views.Shared.Resources;
@using CSSPWebTools.Views.HydrometricSite.Resources;
@using CSSPWebTools.Controllers;
@using CSSPEnumsDLL.Enums;
@using CSSPModelsDLL.Models;


<div>
    <h3>Ex: 2004-2008,2012,2013-</h3>
    <ul>
        <li>@HydrometricSiteViewRes.ADashBetweenTwoYearsRepresentFromYearToYearInclusively</li>
        <li>@HydrometricSiteViewRes.AYearBetweenTwoCommasRepresentThatYear</li>
        <li>@HydrometricSiteViewRes.EndingWithADashRepresentUpToCurrentYear</li>
        <li>@HydrometricSiteViewRes.AnySpaceWillBeOmitted</li>
        <li>@HydrometricSiteViewRes.AnythingUnrecognizedTheUserWillReceiveAnErrorMessage</li>
    </ul>
</div>
