@using CSSPWebTools.Models;
@using CSSPWebTools.Views.HydrometricSite.Resources;
@using CSSPModelsDLL.Models;

@{
    URLModel urlModel = (URLModel)ViewBag.URLModel;
    TVItemModel tvItemModelSubsector = (TVItemModel)ViewBag.TVItemModelSubsector;
    List<UseOfSiteModel> UseOfSiteModelList = (List<UseOfSiteModel>)ViewBag.UseOfSiteModelList;
}

<div>
    <div id="HydrometricSiteVariables" class="hidden">
        <span class="varTest">@HydrometricSiteViewRes.Test</span>
    </div>
    <div id="HydrometricSiteDiv">
        <h4>@tvItemModelSubsector.TVText</h4>
        @foreach (UseOfSiteModel useOfSiteModel in UseOfSiteModelList)
        {
            <blockquote>
                <span>SiteType</span>&nbsp;&nbsp;&nbsp;<span>@useOfSiteModel.SiteType.ToString()</span><br />
                <span>SiteTVItemID</span>&nbsp;&nbsp;&nbsp;<span>@useOfSiteModel.SiteTVItemID.ToString()</span><br />
                <span>SiteTVText</span>&nbsp;&nbsp;&nbsp;<span>@useOfSiteModel.SiteTVText</span><br />
                <span>StartYear</span>&nbsp;&nbsp;&nbsp;<span>@useOfSiteModel.StartYear</span><br />
                <span>EndYear</span>&nbsp;&nbsp;&nbsp;<span>@useOfSiteModel.EndYear</span><br />
                <span>Ordinal</span>&nbsp;&nbsp;&nbsp;<span>@useOfSiteModel.Ordinal</span><br />
                <span>SubsectorTVItemID</span>&nbsp;&nbsp;&nbsp;<span>@useOfSiteModel.SubsectorTVItemID</span><br />
                <span>SubsectorTVText</span>&nbsp;&nbsp;&nbsp;<span>@useOfSiteModel.SubsectorTVText</span><br />
            </blockquote>
        }
    </div>
</div>
