@using CSSPWebTools.Models;
@using CSSPWebTools.Views.Shared.Resources;
@using CSSPWebTools.Views.HydrometricSite.Resources;
@using CSSPWebTools.Controllers;
@using CSSPEnumsDLL.Enums;
@using CSSPModelsDLL.Models;

@{
    List<HydrometricSitesAndRains> HydrometricSitesAndRainsList = (List<HydrometricSitesAndRains>)ViewBag.HydrometricSitesAndRainsList;
    List<UseOfSiteModel> useOfSiteModelList = (List<UseOfSiteModel>)ViewBag.UseOfSiteModelList;
    MWQMSubsectorHydrometricSites mwqmSubsectorHydrometricSites = (MWQMSubsectorHydrometricSites)ViewBag.MWQMSubsectorHydrometricSites;
    string ATL_PYR = (string)ViewBag.ATL_PYR;
    MWQMRunModel mwqmRunModel = (MWQMRunModel)ViewBag.MWQMRunModel;
    int SubsectorTVItemID = (int)ViewBag.SubsectorTVItemID;
    int MWQMRunTVItemID = (int)ViewBag.MWQMRunTVItemID;
    TVAuthEnum tvAuth = (TVAuthEnum)ViewBag.TVAuth;
}

<div class="SelectedRunPrecipitationInfo">
    <ul class="list-inline">
        <li>@HydrometricSiteViewRes.ViewDataType :</li>
        <li>
            <select class="SelectedRunDataType form-control">
                <option selected="selected" value="totalprecip">@HydrometricSiteViewRes.TotalPrecip_mm_cm</option>
                <option value="rainfall">@HydrometricSiteViewRes.Rainfall_mm</option>
                <option value="rainfallentered">@HydrometricSiteViewRes.RainfallEntered_mm</option>
                <option value="snow">@HydrometricSiteViewRes.Snow_cm</option>
                <option value="snowonground">@HydrometricSiteViewRes.SnowOnGround_cm</option>
                <option value="mintemp">@HydrometricSiteViewRes.MinTemp_C</option>
                <option value="maxtemp">@HydrometricSiteViewRes.MaxTemp_C</option>
            </select>
        </li>
    </ul>
    <h3>
        @*@HydrometricSiteViewRes.Run [@mwqmRunModel.DateTime_Local.ToString("yyyy MMMM dd")]*@
        <button class="jbHydrometricSiteGetDataForRunsOfYear btn btn-default"
                data-year="@mwqmRunModel.DateTime_Local.Year">
            @(string.Format(HydrometricSiteViewRes.GetClimateDataForRunsOfYear_, mwqmRunModel.DateTime_Local.Year))
        </button>
        <span class="TaskStatus"></span>
        <button class="jbHydrometricSiteSetDataToUseByAverageOrPriority btn btn-default"
                data-year="@mwqmRunModel.DateTime_Local.Year"
                data-averageorpriority="Priority">
            @(string.Format(HydrometricSiteViewRes.SetDataToUseByPriorityForYear_, mwqmRunModel.DateTime_Local.Year))
        </button>
        <button class="jbHydrometricSiteSetDataToUseByAverageOrPriority btn btn-default"
                data-year="@mwqmRunModel.DateTime_Local.Year"
                data-averageorpriority="Average">
            @(string.Format(HydrometricSiteViewRes.SetDataToUseByAverageForYear_, mwqmRunModel.DateTime_Local.Year))
        </button>
    </h3>
    <table class="table">
        <tr>
            <th class="verticalRight">
                <span class="text-nowrap">@HydrometricSiteViewRes.HydrometricSiteName</span>
                <span class="pull-right">@HydrometricSiteViewRes.Day</span>
                @if (mwqmRunModel.DateTime_Local.AddDays(0) >= new DateTime(2007, 1, 1) && ATL_PYR != "")
                {
                    <br />
                    <span class="pull-right">@HydrometricSiteViewRes.Radar 0h-12h</span><br />
                    <span class="pull-right">@HydrometricSiteViewRes.Radar 12h-24h</span>
                }
            </th>
            @for (int i = 0; i < 11; i++)
            {
                DateTime dateTime = mwqmRunModel.DateTime_Local.AddDays(-i);

                string FirstURL = "";
                string SecondURL = "";
                string AddET = "";
                if (dateTime >= new DateTime(2014, 1, 1))
                {
                    AddET = "ET";
                }

                if (ATL_PYR != "")
                {
                    FirstURL = "http://climate.weather.gc.ca/radar/index_e.html?site=" + ATL_PYR + "&year=" + dateTime.Year.ToString() + "&month=" + dateTime.Month.ToString() + "&day=" + dateTime.Day.ToString() + "&hour=00&minute=00&duration=12&image_type=PRECIP" + AddET + "_RAIN_WEATHEROFFICE";
                    SecondURL = "http://climate.weather.gc.ca/radar/index_e.html?site=" + ATL_PYR + "&year=" + dateTime.Year.ToString() + "&month=" + dateTime.Month.ToString() + "&day=" + dateTime.Day.ToString() + "&hour=12&minute=00&duration=12&image_type=PRECIP" + AddET + "_RAIN_WEATHEROFFICE";
                }

                <th class="DayValue" data-year="@(dateTime.Year) data-month=" @(dateTime.Month) data-day="@(dateTime.Day)">
                    (@((-i).ToString()))
                    @if (mwqmRunModel.DateTime_Local.AddDays(-i) >= new DateTime(2007, 1, 1) && ATL_PYR != "")
                    {
                        <br />
                        <a class="FirstRadar text-nowrap" target="_blank" href="@FirstURL">R0</a>
                        <br />
                        <a class="SecondRadar text-nowrap" target="_blank" href="@SecondURL">R12</a>
                    }
                </th>
            }
        </tr>
        <tr>
            <td class="verticalRight">
                @HydrometricSiteViewRes.ValuesToBeUsed 
                <button class="jbHydrometricSiteShowHideEditEnteredDiv btn btn-default pull-right">@HydrometricSiteViewRes.Edit</button>
                <span class="pull-right">&nbsp;&nbsp;&nbsp;</span>
                <button class="jbHydrometricSiteRainEnteredAreYouSureToSave btn btn-default pull-right hidden" 
                        data-mwqmruntvitemid="@mwqmRunModel.MWQMRunTVItemID"
                        data-year="@mwqmRunModel.DateTime_Local.Year"
                        data-month="@mwqmRunModel.DateTime_Local.Month"
                        data-day="@mwqmRunModel.DateTime_Local.Day">@HydrometricSiteViewRes.Save</button>
            </td>
            <td>
                @(mwqmRunModel.RainDay0_mm == null ? "--" : ((float)mwqmRunModel.RainDay0_mm).ToString("F1"))
            </td>
            <td>
                @(mwqmRunModel.RainDay1_mm == null ? "--" : ((float)mwqmRunModel.RainDay1_mm).ToString("F1"))
            </td>
            <td>
                @(mwqmRunModel.RainDay2_mm == null ? "--" : ((float)mwqmRunModel.RainDay2_mm).ToString("F1"))
            </td>
            <td>
                @(mwqmRunModel.RainDay3_mm == null ? "--" : ((float)mwqmRunModel.RainDay3_mm).ToString("F1"))
            </td>
            <td>
                @(mwqmRunModel.RainDay4_mm == null ? "--" : ((float)mwqmRunModel.RainDay4_mm).ToString("F1"))
            </td>
            <td>
                @(mwqmRunModel.RainDay5_mm == null ? "--" : ((float)mwqmRunModel.RainDay5_mm).ToString("F1"))
            </td>
            <td>
                @(mwqmRunModel.RainDay6_mm == null ? "--" : ((float)mwqmRunModel.RainDay6_mm).ToString("F1"))
            </td>
            <td>
                @(mwqmRunModel.RainDay7_mm == null ? "--" : ((float)mwqmRunModel.RainDay7_mm).ToString("F1"))
            </td>
            <td>
                @(mwqmRunModel.RainDay8_mm == null ? "--" : ((float)mwqmRunModel.RainDay8_mm).ToString("F1"))
            </td>
            <td>
                @(mwqmRunModel.RainDay9_mm == null ? "--" : ((float)mwqmRunModel.RainDay9_mm).ToString("F1"))
            </td>
            <td>
                @(mwqmRunModel.RainDay10_mm == null ? "--" : ((float)mwqmRunModel.RainDay10_mm).ToString("F1"))
            </td>
        </tr>
        <tr>
            <td class="verticalRight">
                <div class="HydrometricSiteRainEdit hidden">
                    @{
                        int MinOrdinal = 999;
                    }
                    <ul class="list-unstyled">
                        <li>
                            @HydrometricSiteViewRes.FillUsing
                        </li>
                        <li>
                            <div class="pull-left">
                                <button class="jbHydrometricSiteRainEnteredFillUsingSelected btn btn-default">@HydrometricSiteViewRes.Selected</button>
                                &nbsp;&nbsp;<button class="jbHydrometricSiteRainEnteredFillUsingAverage btn btn-default">@HydrometricSiteViewRes.Average</button>
                                &nbsp;&nbsp;<button class="jbHydrometricSiteRainEnteredFillUsingPriority btn btn-default">@HydrometricSiteViewRes.Priority</button>
                                &nbsp;&nbsp;<button class="jbHydrometricSiteRainEnteredFillUsingWeighted btn btn-default">@HydrometricSiteViewRes.Weighted</button>
                            </div>
                        </li>
                    </ul>
                    <table class="table table-condensed">
                        <tr>
                            <th>
                                @HydrometricSiteViewRes.HydrometricSiteName
                            </th>
                            <th>
                                @HydrometricSiteViewRes.Priority
                            </th>
                            <th>
                                @HydrometricSiteViewRes.Weight
                            </th>
                        </tr>
                        @foreach (HydrometricSitesAndRains HydrometricSitesAndRains in HydrometricSitesAndRainsList)
                        {
                            HydrometricSiteWithLatLngAndOrdinalModel HydrometricSiteWithLatLngAndOrdinalModel = mwqmSubsectorHydrometricSites.HydrometricSiteModelUsedAndWithinDistanceModelList.Where(c => c.HydrometricSiteTVItemID == HydrometricSitesAndRains.HydrometricSiteModel.HydrometricSiteTVItemID).FirstOrDefault();

                            bool HasData = (HydrometricSitesAndRains.HydrometricSiteModel.DailyStartDate_Local <= mwqmRunModel.DateTime_Local && HydrometricSitesAndRains.HydrometricSiteModel.DailyEndDate_Local >= mwqmRunModel.DateTime_Local);
                            int Ordinal = (from c in useOfSiteModelList
                                           where c.SiteTVItemID == HydrometricSitesAndRains.HydrometricSiteModel.HydrometricSiteTVItemID
                                           && c.SiteType == SiteTypeEnum.Climate
                                           select c.Ordinal).FirstOrDefault();

                            if (HasData)
                            {
                                <tr class="FillHydrometricSiteLI"
                                    data-HydrometricSitetvitemid="@HydrometricSitesAndRains.HydrometricSiteModel.HydrometricSiteTVItemID"
                                    data-priority="@Ordinal">
                                    <td>
                                        <label class="text-nowrap">
                                            <input type="radio" name="HydrometricSiteFillPrec" 
                                                   data-HydrometricSitetvitemid="@HydrometricSitesAndRains.HydrometricSiteModel.HydrometricSiteTVItemID" 
                                                   data-ordinal="@(Ordinal + 1)" @(MinOrdinal > Ordinal ? "checked=checked" : "") />
                                            <span for="HydrometricSiteFillPrec">&nbsp;&nbsp;@HydrometricSitesAndRains.HydrometricSiteModel.HydrometricSiteTVText <span>(@(HydrometricSiteWithLatLngAndOrdinalModel == null ? "" : HydrometricSiteWithLatLngAndOrdinalModel.Distance_km.ToString("F0") + " Km"))</span></span>
                                        </label>
                                    </td>
                                    <td class="text-center">
                                        <span>@(Ordinal + 1)</span>
                                    </td>
                                    <td>
                                        <span><input type="text" size="2" name="Weight" value="" /></span>
                                    </td>
                                </tr>
                            }
                            if (MinOrdinal > Ordinal)
                            {
                                MinOrdinal = Ordinal;
                            }
                        }
                    </table>
                </div>
            </td>
            <td>
                <div class="HydrometricSiteRainEdit hidden">
                    <input size="2" type="text" name="RainDay0_mm" value="@(mwqmRunModel.RainDay0_mm == null ? "" : ((float)mwqmRunModel.RainDay0_mm).ToString("F1"))" />
                </div>
            </td>
            <td>
                <div class="HydrometricSiteRainEdit hidden">
                    <input size="2" type="text" name="RainDay1_mm" value="@(mwqmRunModel.RainDay1_mm == null ? "" : ((float)mwqmRunModel.RainDay1_mm).ToString("F1"))" />
                </div>
            </td>
            <td>
                <div class="HydrometricSiteRainEdit hidden">
                    <input size="2" type="text" name="RainDay2_mm" value="@(mwqmRunModel.RainDay2_mm == null ? "" : ((float)mwqmRunModel.RainDay2_mm).ToString("F1"))" />
                </div>
            </td>
            <td>
                <div class="HydrometricSiteRainEdit hidden">
                    <input size="2" type="text" name="RainDay3_mm" value="@(mwqmRunModel.RainDay3_mm == null ? "" : ((float)mwqmRunModel.RainDay3_mm).ToString("F1"))" />
                </div>
            </td>
            <td>
                <div class="HydrometricSiteRainEdit hidden">
                    <input size="2" type="text" name="RainDay4_mm" value="@(mwqmRunModel.RainDay4_mm == null ? "" : ((float)mwqmRunModel.RainDay4_mm).ToString("F1"))" />
                </div>
            </td>
            <td>
                <div class="HydrometricSiteRainEdit hidden">
                    <input size="2" type="text" name="RainDay5_mm" value="@(mwqmRunModel.RainDay5_mm == null ? "" : ((float)mwqmRunModel.RainDay5_mm).ToString("F1"))" />
                </div>
            </td>
            <td>
                <div class="HydrometricSiteRainEdit hidden">
                    <input size="2" type="text" name="RainDay6_mm" value="@(mwqmRunModel.RainDay6_mm == null ? "" : ((float)mwqmRunModel.RainDay6_mm).ToString("F1"))" />
                </div>
            </td>
            <td>
                <div class="HydrometricSiteRainEdit hidden">
                    <input size="2" type="text" name="RainDay7_mm" value="@(mwqmRunModel.RainDay7_mm == null ? "" : ((float)mwqmRunModel.RainDay7_mm).ToString("F1"))" />
                </div>
            </td>
            <td>
                <div class="HydrometricSiteRainEdit hidden">
                    <input size="2" type="text" name="RainDay8_mm" value="@(mwqmRunModel.RainDay8_mm == null ? "" : ((float)mwqmRunModel.RainDay8_mm).ToString("F1"))" />
                </div>
            </td>
            <td>
                <div class="HydrometricSiteRainEdit hidden">
                    <input size="2" type="text" name="RainDay9_mm" value="@(mwqmRunModel.RainDay9_mm == null ? "" : ((float)mwqmRunModel.RainDay9_mm).ToString("F1"))" />
                </div>
            </td>
            <td>
                <div class="HydrometricSiteRainEdit hidden">
                    <input size="2" type="text" name="RainDay10_mm" value="@(mwqmRunModel.RainDay10_mm == null ? "" : ((float)mwqmRunModel.RainDay10_mm).ToString("F1"))" />
                </div>
            </td>
        </tr>
        @{
            int PrecCount = 0;
        }
        @foreach (HydrometricSitesAndRains HydrometricSitesAndRains in HydrometricSitesAndRainsList)
        {
            HydrometricSiteWithLatLngAndOrdinalModel HydrometricSiteWithLatLngAndOrdinalModel = mwqmSubsectorHydrometricSites.HydrometricSiteModelUsedAndWithinDistanceModelList.Where(c => c.HydrometricSiteTVItemID == HydrometricSitesAndRains.HydrometricSiteModel.HydrometricSiteTVItemID).FirstOrDefault();

            string url = "http://climate.weather.gc.ca/climate_data/daily_data_e.html?StationID="
                + @HydrometricSitesAndRains.HydrometricSiteModel.ECDBID
                + "&Year=" + mwqmRunModel.DateTime_Local.Year.ToString()
                + "&Month=" + mwqmRunModel.DateTime_Local.Month.ToString() + "&Day=1";

            bool HasData = (HydrometricSitesAndRains.HydrometricSiteModel.DailyStartDate_Local <= mwqmRunModel.DateTime_Local && HydrometricSitesAndRains.HydrometricSiteModel.DailyEndDate_Local >= mwqmRunModel.DateTime_Local);

            <tr class="HydrometricSiteRains" data-HydrometricSitetvitemid="@HydrometricSitesAndRains.HydrometricSiteModel.HydrometricSiteTVItemID">
                <td class="verticalRight">
                    <span class="text-nowrap  @(HasData ? "" : "text-strikeThrough")">
                        @HydrometricSitesAndRains.HydrometricSiteModel.HydrometricSiteTVText <span>(@(HydrometricSiteWithLatLngAndOrdinalModel == null ? "" : HydrometricSiteWithLatLngAndOrdinalModel.Distance_km.ToString("F0") + " Km"))</span>
                        @if (HasData)
                        {
                            <a href="@url" target="_blank">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-export"></span></a>
                        }
                    </span>
                </td>
                @foreach (ClimateDataValueModel climateDataValueModel in HydrometricSitesAndRains.ClimateDataValueModelList)
                {
                    <td class="RainData"
                        data-hasbeenread="@climateDataValueModel.HasBeenRead"
                        data-preccount="@PrecCount"
                        data-totalprecip="@(climateDataValueModel.TotalPrecip_mm_cm == null ? "-1" : ((float)climateDataValueModel.TotalPrecip_mm_cm).ToString("F1"))"
                        data-rainfall="@(climateDataValueModel.Rainfall_mm == null ? "-1" : ((float)climateDataValueModel.Rainfall_mm).ToString("F1"))"
                        data-rainfallentered="@(climateDataValueModel.RainfallEntered_mm == null ? "-1" : ((float)climateDataValueModel.RainfallEntered_mm).ToString("F1"))"
                        data-snow="@(climateDataValueModel.Snow_cm == null ? "-1" : ((float)climateDataValueModel.Snow_cm).ToString("F1"))"
                        data-snowonground="@(climateDataValueModel.SnowOnGround_cm == null ? "-1" : ((float)climateDataValueModel.SnowOnGround_cm).ToString("F1"))"
                        data-mintemp="@(climateDataValueModel.MinTemp_C == null ? "-1" : ((float)climateDataValueModel.MinTemp_C).ToString("F1"))"
                        data-maxtemp="@(climateDataValueModel.MaxTemp_C == null ? "-1" : ((float)climateDataValueModel.MaxTemp_C).ToString("F1"))">
                        @if (!climateDataValueModel.HasBeenRead)
                        {
                            <span>--</span>
                        }
                        else
                        {
                            DateTime TheDate = climateDataValueModel.DateTime_Local;
                            DateTime? HourlyStart = HydrometricSitesAndRains.HydrometricSiteModel.HourlyStartDate_Local;
                            DateTime? HourlyEnd = HydrometricSitesAndRains.HydrometricSiteModel.HourlyEndDate_Local;
                            if (HourlyEnd == null)
                            {
                                HourlyEnd = DateTime.Now;
                            }
                            if (TheDate >= HourlyStart && TheDate <= HourlyEnd)
                            {
                                string URL = "http://climate.weather.gc.ca/climate_data/hourly_data_e.html?StationID=" + HydrometricSitesAndRains.HydrometricSiteModel.ECDBID +
                                        "&Year=" + climateDataValueModel.DateTime_Local.Year +
                                        "&Month=" + climateDataValueModel.DateTime_Local.Month +
                                        "&Day=" + climateDataValueModel.DateTime_Local.Day + "&timeframe=1";
                                <a target="_blank" href="@URL">
                                    @(climateDataValueModel.TotalPrecip_mm_cm == null ? "E" : ((float)climateDataValueModel.TotalPrecip_mm_cm).ToString("F1"))
                                </a>
                            }
                            else
                            {
                                @(climateDataValueModel.TotalPrecip_mm_cm == null ? "E" : ((float)climateDataValueModel.TotalPrecip_mm_cm).ToString("F1"))
                            }
                            }
                    </td>
                    PrecCount += 1;
                }
            </tr>
        }
    </table>
    <span>@HydrometricSiteViewRes.Note: (E) - @HydrometricSiteViewRes.NoDataOnMSCHistoricalSite</span>

</div>
