@using CSSPWebTools.Models;
@using CSSPWebTools.Views.Shared.Resources;
@using CSSPWebTools.Views.HydrometricSite.Resources;
@using CSSPWebTools.Controllers;
@using CSSPEnumsDLL.Enums;
@using CSSPModelsDLL.Models;

@{
    MWQMSubsectorHydrometricSites mwqmSubsectorHydrometricSites = (MWQMSubsectorHydrometricSites)ViewBag.MWQMSubsectorHydrometricSites;
    List<TVItemModel> tvItemModelList = (List<TVItemModel>)ViewBag.TVItemModelList;
    int Radius_km = (int)ViewBag.Radius_km;
    int SubsectorTVItemID = (int)ViewBag.SubsectorTVItemID;
    TVAuthEnum tvAuth = (TVAuthEnum)ViewBag.TVAuth;

}

<div class="HydrometricSiteSetupDiv">
    <ul class="list-inline">
        <li>
            @HydrometricSiteViewRes.FindHydrometricSitesWithinDistanceOfSubsector:
        </li>
        <li>
            <input class="form-control isnumber" type="text" name="Radius_km" value="@Radius_km" />
        </li>
        <li>
            Km
        </li>
        <li>
            <button class="jbHydrometricSitesFindWithinDistance btn btn-default">@HydrometricSiteViewRes.Find</button>
            <button class="jbHelpDocShowDialog btn btn-link" data-dockey="hydrometricsitesfind" data-title="@HydrometricSiteViewRes.Find"><span class="glyphicon glyphicon-info-sign"></span></button>
        </li>
    </ul>
    <ul class="ClickGlobeToViewOnMap list-inline hidden">
        <li>
            @HydrometricSiteViewRes.ClickOnGlobeIconToViewOnMap
        </li>
    </ul>
    <h3>
        @HydrometricSiteViewRes.HydrometricSitesUsedAndWithinDistance <button class="jbHydrometricSitesShowOnMap btn btn-default hidden">
            @HydrometricSiteViewRes.ShowHydrometricSitesOnMap
        </button>
        <button class="jbHelpDocShowDialog btn btn-link" data-dockey="hydrometricsitesuseandwithindistance" data-title="@HydrometricSiteViewRes.HydrometricSitesUsedAndWithinDistance"><span class="glyphicon glyphicon-info-sign"></span></button>
    </h3>
    <div class="HydrometricSitesUsedAndWithinDistanceDiv">
        @{
            int HydrometricSiteCount = 99;
        }
        <span class="h5">@HydrometricSiteViewRes.SaveButtonAtBottomOfPage</span>
        @foreach (HydrometricSiteWithLatLngAndOrdinalModel HydrometricSiteWithLatLngAndOrdinalModel in mwqmSubsectorHydrometricSites.HydrometricSiteModelUsedAndWithinDistanceModelList)
        {
            HydrometricSiteCount += 1;
            bool IsInUse = HydrometricSiteWithLatLngAndOrdinalModel.YearsOfUseText.Length > 0 ? true : false;

            <div class="HydrometricSiteUsedAndWithinDistance"
                 data-hydrometricsitetvitemid="@HydrometricSiteWithLatLngAndOrdinalModel.HydrometricSiteTVItemID"
                 data-mapinfoid="@HydrometricSiteWithLatLngAndOrdinalModel.MapInfoID"
                 data-lat="@HydrometricSiteWithLatLngAndOrdinalModel.Lat"
                 data-lng="@HydrometricSiteWithLatLngAndOrdinalModel.Lng"
                 data-ordinal="@HydrometricSiteWithLatLngAndOrdinalModel.Ordinal">
                <span class="HydrometricSiteCount">@(HydrometricSiteCount) - </span>
                <button class="jbMapShowItem btn btn-default hidden"
                        data-tvitemid="@HydrometricSiteWithLatLngAndOrdinalModel.HydrometricSiteTVItemID"
                        title="@HydrometricSiteViewRes.IdentifyOnMap">
                    <span class="glyphicon glyphicon-map-marker"></span>
                </button>
                <button class="jbHydrometricSiteAddToUse btn btn-@(IsInUse ? "success" : "default")"
                        data-startyear="@(HydrometricSiteWithLatLngAndOrdinalModel.StartDate_Local.HasValue ? HydrometricSiteWithLatLngAndOrdinalModel.StartDate_Local.Value.Year.ToString() : "")"
                        data-endyear="@(HydrometricSiteWithLatLngAndOrdinalModel.EndDate_Local.HasValue && HydrometricSiteWithLatLngAndOrdinalModel.EndDate_Local.Value.Year < DateTime.Now.Year ? HydrometricSiteWithLatLngAndOrdinalModel.EndDate_Local.Value.Year.ToString() : "")">
                    @HydrometricSiteWithLatLngAndOrdinalModel.HydrometricSiteTVText
                </button>
                <span class="HydrometricSiteMoreInfo">
                    @if (HydrometricSiteWithLatLngAndOrdinalModel.StartDate_Local != null && HydrometricSiteWithLatLngAndOrdinalModel.EndDate_Local != null)
                    {
                        <span>@(((DateTime)HydrometricSiteWithLatLngAndOrdinalModel.StartDate_Local).ToString("yyyy MMM dd")) - </span>
                        if (HydrometricSiteWithLatLngAndOrdinalModel.EndDate_Local.Value.Year >= DateTime.Now.Year)
                        {
                            <span class="h2">@HydrometricSiteViewRes.Now</span>
                        }
                        else
                        {
                            <span>@(((DateTime)HydrometricSiteWithLatLngAndOrdinalModel.EndDate_Local).ToString("yyyy MMM dd"))</span>
                        }
                    }
                    else
                    {
                        @HydrometricSiteViewRes.Empty
                    }
                    <span>(@HydrometricSiteWithLatLngAndOrdinalModel.Distance_km.ToString("F0") Km)</span>
                </span>
                <div class="ShowYearsOfUse form-inline @(IsInUse ? "" : "hidden")">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@HydrometricSiteViewRes.YearsOfUse :
                    <input type="text" class="form-control" size="50" name="UseForYears" value="@HydrometricSiteWithLatLngAndOrdinalModel.YearsOfUseText" />
                    <button class="jbHydrometricSiteOpenDialogToShowExOfYearsToEnter btn btn-link"><span class="glyphicon glyphicon-info-sign"></span></button>
                </div>
            </div>
        }
    </div>
    <div>
        <br />
        <button class="jbHydrometricSitesToUseForSubsectorVerifyAndSave btn btn-default">@HydrometricSiteViewRes.HydrometricSitesToUseForSubsectorVerifyAndSave</button>
        <button class="jbHelpDocShowDialog btn btn-link" data-dockey="hydrometricsitesuseforsubsectorverifyandsave" data-title="@HydrometricSiteViewRes.HydrometricSitesToUseForSubsectorVerifyAndSave"><span class="glyphicon glyphicon-info-sign"></span></button>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        cssp.HydrometricSite.Init();
    });
</script>