@using CSSPWebTools.Views.Shared.Resources;
@using CSSPEnumsDLL.Enums;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@_LayoutViewRes.CSSPWebTools</title>
    @*<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />*@
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <script src="~/Scripts/respond.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="~/Scripts/html5shiv.js"></script>
        <script src="~/Scripts/respondForIE.min.js"></script>
    <![endif]-->

    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/typeahead.css" rel="stylesheet" />

    @if (ViewBag.Debug)
    {
        <link href="../Content/qunit-1.14.0.css" rel="stylesheet" />
    }

    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <noscript>
        <style>
            #TextPanelID, #HeaderDiv, #FooterDiv, #MapPanelID {
                display: none;
            }
        </style>
    </noscript>

</head>
<body>
    @if (ViewBag.Debug)
    {
        @*Div with Class TestView can be removed after testing completed*@
        <div class="TestView hidden">
            <div id="TestVariables" class="hidden">
                <span class="varNotImplemented">@_LayoutViewRes.NotImplemented</span>
                <span class="varUnknownError">@_LayoutViewRes.UnknownError</span>
                <span class="varError">@_LayoutViewRes.Error</span>
                <span class="varCouldNotFind_Within_">@_LayoutViewRes.CouldNotFind_Within_</span>
            </div>
            <div id="qunit"></div>
            <div id="qunit-fixture"></div>
        </div>
    }
    <div id="LayoutVariables" class="hidden">
        <span class="varApproved">@_LayoutViewRes.Approved</span>
        <span class="varRestricted">@_LayoutViewRes.Restricted</span>
        <span class="varProhibited">@_LayoutViewRes.Prohibited</span>
        <span class="varConditionallyApproved">@_LayoutViewRes.ConditionallyApproved</span>
        <span class="varConditionallyRestricted">@_LayoutViewRes.ConditionallyRestricted</span>
        <span class="varActualCoordinates">@_LayoutViewRes.ActualCoordinates</span>
        <span class="varAllPriorityNumbersNeedToBeUnique">@_LayoutViewRes.AllPriorityNumbersNeedToBeUnique</span>
        <span class="varAlreadyExistSee">@_LayoutViewRes.AlreadyExistSee</span>
        <span class="varAreas">@_LayoutViewRes.Areas</span>
        <span class="varAnalysisNameRequired">@_LayoutViewRes.AnalysisNameRequired</span>
        <span class="varAnalysisReportYearRequired">@_LayoutViewRes.AnalysisReportYearRequired</span>
        <span class="varAreYouSure">@_LayoutViewRes.AreYouSure</span>
        <span class="varBrowseTo">@_LayoutViewRes.BrowseTo:</span>
        <span class="varCancel">@_LayoutViewRes.Cancel</span>
        <span class="varClimateSite">@_LayoutViewRes.ClimateSite</span>
        <span class="varClimateSitePrioritiesMightNeedResetting">@_LayoutViewRes.ClimateSitePrioritiesMightNeedResetting</span>
        <span class="varCheckUnderClimateSitePrioritiesTab">@_LayoutViewRes.CheckUnderClimateSitePrioritiesTab</span>
        <span class="varCheckUnderHydrometricSitePrioritiesTab">@_LayoutViewRes.CheckUnderHydrometricSitePrioritiesTab</span>
        <span class="varContinueSaving">@_LayoutViewRes.ContinueSaving</span>
        <span class="varCopied">@_LayoutViewRes.Copied</span>
        <span class="varCopyingCurrentMIKEScenario">@_LayoutViewRes.CopyingCurrentMIKEScenario</span>
        <span class="varCouldNotFind_">@_LayoutViewRes.CouldNotFind_</span>
        <span class="varCouldNotFind_Within_">@_LayoutViewRes.CouldNotFind_Within_</span>
        <span class="varCouldNotLoad_">@_LayoutViewRes.CouldNotLoad_</span>
        <span class="varCouldNotPost_">@_LayoutViewRes.CouldNotPost_</span>
        <span class="varCompleted">@_LayoutViewRes.Completed</span>
        <span class="varCountry">@_LayoutViewRes.Country</span>
        <span class="varDebug">@(ViewBag.Debug == true ? "Y" : "")</span>
        <span class="varDeleted">@_LayoutViewRes.Deleted</span>
        <span class="varDeleting">@_LayoutViewRes.Deleting</span>
        <span class="varDeleteExcelDocument">@_LayoutViewRes.DeleteExcelDocument</span>
        <span class="varDeleteAnalysis">@_LayoutViewRes.DeleteAnalysis</span>
        <span class="varDraggingPoint">@_LayoutViewRes.DraggingPoint</span>
        <span class="varEdit">@_LayoutViewRes.Edit</span>
        <span class="varEffluentEndDateIsBiggerThanMikeScenarioEndDate">@_LayoutViewRes.EffluentEndDateIsBiggerThanMikeScenarioEndDate</span>
        <span class="varEffluentStartDateIsSmallerThanMikeScenarioStartDate">@_LayoutViewRes.EffluentStartDateIsSmallerThanMikeScenarioStartDate</span>
        <span class="varEmailDistributionListExportedToSharedDrive">@_LayoutViewRes.EmailDistributionListsExportedToSharedDrive</span>
        <span class="varError">@_LayoutViewRes.Error</span>
        <span class="varExportToExcelDocument">@_LayoutViewRes.ExportToExcelDocument</span>
        <span class="varFail">@_LayoutViewRes.Fail</span>
        <span class="varFCShouldNotHaveCommaOrDecimal">@_LayoutViewRes.FCShouldNotHaveCommaOrDecimal</span>
        <span class="varFormFail">@_LayoutViewRes.FormFail</span>
        <span class="varHelp">@_LayoutViewRes.Help</span>
        <span class="varHrefShouldNotBeEmpty">@_LayoutViewRes.HrefShouldNotBeEmpty</span>
        <span class="varHydrometricSite">@_LayoutViewRes.HydrometricSite</span>
        <span class="varHydrometricSitePrioritiesMightNeedResetting">@_LayoutViewRes.HydrometricSitePrioritiesMightNeedResetting</span>
        <span class="varInfrastructures">@_LayoutViewRes.Infrastructures</span>
        <span class="varInProgress">@_LayoutViewRes.InProgress</span>
        <span class="varIsOpenData">@_LayoutViewRes.IsOpenData</span>
        <span class="varLiftStation">@_LayoutViewRes.LiftStations</span>
        <span class="varLineOverflow">@_LayoutViewRes.LineOverflow</span>
        <span class="varLoading">@_LayoutViewRes.Loading</span>
        <span class="varMapChangesWereNotSaved">@_LayoutViewRes.MapChangesWereNotSaved</span>
        <span class="varMapShouldBeOpened">@_LayoutViewRes.MapShouldBeOpened</span>
        <span class="varMeshNode">@_LayoutViewRes.MeshNode</span>
        <span class="varMessage">@_LayoutViewRes.Message</span>
        <span class="varMikeSourceIsRiver">@_LayoutViewRes.MikeSourceIsRiver</span>
        <span class="varMikeSourceIncluded">@_LayoutViewRes.MikeSourceIncluded</span>
        <span class="varMikeSourceNotIncluded">@_LayoutViewRes.MikeSourceNotIncluded</span>
        <span class="varMoving">@_LayoutViewRes.Moving</span>
        <span class="varMunicipalities">@_LayoutViewRes.Municipalities</span>
        <span class="varMWQMMeetStandard" title="@_LayoutViewRes.MWQM_FULL">@_LayoutViewRes.MWQMMeetStandard</span>
        <span class="varMWQMNotEnoughData" title="@_LayoutViewRes.MWQM_FULL">@_LayoutViewRes.MWQMNotEnoughData</span>
        <span class="varMWQMSamplesPerDate" title="@_LayoutViewRes.MWQM_FULL">@_LayoutViewRes.MWQMSamplesPerDate</span>
        <span class="varMWQMSites" title="@_LayoutViewRes.MWQM_FULL">@_LayoutViewRes.MWQMSites</span>
        <span class="varMWQMStandardAtLimit" title="@_LayoutViewRes.MWQM_FULL">@_LayoutViewRes.MWQMStandardAtLimit</span>
        <span class="varMWQMStandardViolation" title="@_LayoutViewRes.MWQM_FULL">@_LayoutViewRes.MWQMStandardViolation</span>
        <span class="varMWQMStandardViolationDepuration" title="@_LayoutViewRes.MWQM_FULL">@_LayoutViewRes.MWQMStandardViolationDepuration</span>
        <span class="varModified">@_LayoutViewRes.Modified</span>
        <span class="varNewExcelFileName">@_LayoutViewRes.NewExcelFileName</span>
        <span class="varNewAnalysisName">@_LayoutViewRes.NewAnalysisName</span>
        <span class="varNoData">@_LayoutViewRes.NoData</span>
        <span class="varNoObjectsFound">@_LayoutViewRes.NoObjectFound</span>
        <span class="varNotImplementedYet">@_LayoutViewRes.NotImplementedYet</span>
        <span class="varNotOpenData">@_LayoutViewRes.NotOpenData</span>
        <span class="varOutfall">@_LayoutViewRes.Outfall</span>
        <span class="varParameter_NotImplemented">@_LayoutViewRes.Parameter_NotImplemented</span>
        <span class="varPermissions">@_LayoutViewRes.Permissions</span>
        <span class="varPleaseEnterValidNumber">@_LayoutViewRes.PleaseEnterValidNumber</span>
        <span class="varPleaseSelectAnItem">@_LayoutViewRes.PleaseSelectAnItem</span>
        @if ((LanguageEnum)ViewBag.Language == LanguageEnum.fr)
        {
            <span class="varPleaseUseCommaOrDotForDecimal">@_LayoutViewRes.PleaseUseCommaForDecimal</span>
        }
        else
        {
            <span class="varPleaseUseCommaOrDotForDecimal">@_LayoutViewRes.PleaseUseDotForDecimal</span>
        }
        <span class="varPollutionSourceSites">@_LayoutViewRes.PollutionSourceSites</span>
        <span class="varPreviousCoordinates">@_LayoutViewRes.PreviousCoordinates</span>
        <span class="varProvinces">@_LayoutViewRes.Provinces</span>
        <span class="varRemove">@_LayoutViewRes.Remove</span>
        <span class="varRemovedSuccessfully">@_LayoutViewRes.RemovedSuccessfully</span>
        <span class="varReplaceIDShouldNotBeEmpty">@_LayoutViewRes.ReplaceIDShouldNotBeEmpty</span>
        <span class="varRunsOmitted">@_LayoutViewRes.RunsOmitted</span>
        <span class="varSamePage">@_LayoutViewRes.SamePage</span>
        <span class="varSave">@_LayoutViewRes.Save</span>
        <span class="varSaved">@_LayoutViewRes.Saved</span>
        <span class="varSaveForReport">@_LayoutViewRes.SaveForReport</span>
        <span class="varSaving">@_LayoutViewRes.Saving</span>
        <span class="varSectors">@_LayoutViewRes.Sectors</span>
        <span class="varLineSeeOther">@_LayoutViewRes.SeeOther</span>
        <span class="varStartDateIsBiggerThanEndDate">@_LayoutViewRes.StartDateIsBiggerThanEndDate</span>
        <span class="varSubsectors">@_LayoutViewRes.Subsectors</span>
        <span class="varSuccess">@_LayoutViewRes.Success</span>
        <span class="varTelError">@_LayoutViewRes.PleaseEnterValidTelNumber</span>
        <span class="varTideSite">@_LayoutViewRes.TideSite</span>
        <span class="varUnknown">@_LayoutViewRes.Unknown</span>
        <span class="varUploadedCompleted">@_LayoutViewRes.UploadedCompleted</span>
        <span class="varView">@_LayoutViewRes.View</span>
        <span class="varWebTideNode">@_LayoutViewRes.WebTideNode</span>
        <span class="varWeightNeedsToBeEmptyOrContainANumber">@_LayoutViewRes.WeightNeedsToBeEmptyOrContainANumber</span>
        <span class="varWWTP" title="@_LayoutViewRes.WWTP_FULL">@_LayoutViewRes.WWTP</span>

    </div>
    @Html.Action("_Header", "Home")
    <div class="row">
        <div id="TextPanelID" class="col-md-12">
            <div id="level0-content">
                <h2>@_LayoutViewRes.Loading</h2>
            </div>
        </div>
        @RenderBody() @* is not returning anything *@

        <noscript>
            <div class="container clearfix" style="margin-top: 50px;">
                <div class="panel panel-info">

                    <div class="panel-body text-center">
                        <ul class="list-unstyled">
                            <li>
                                <h4 class="text-alert">
                                    You have to activate your browser scripts to continue.
                                </h4>

                                <p>
                                    Please follow the link to know
                                    <span class="bg-info">
                                        <a target="_blank" href="http://support2.microsoft.com/gp/howtoscript">
                                            how to enable JavaScript
                                        </a>
                                    </span>
                                    in a web browser.
                                </p>
                                <p>
                                    Once the scripts are activated, please refresh this page to continue browsing.
                                </p>
                            </li>
                            <li>
                                &nbsp;
                                <hr class="alert-info" />
                                &nbsp;
                            </li>
                            <li>
                                <h4 class="text-alert">
                                    Vous devez activer les scripts de votre navigateur pour continuer.
                                </h4>

                                <p>
                                    Veuillez suivre le lien suivant pour savoir
                                    <span class="bg-info">
                                        <a target="_blank" href="http://support2.microsoft.com/gp/howtoscript/fr">
                                            comment activer JavaScript
                                        </a>
                                    </span>
                                    dans votre navigateur web.


                                </p>
                                <p>
                                    Une fois les scripts activés, veuillez rafraîchir cette page pour continuer votre navigation.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </noscript>

        <div id="MapPanelID" class="panel hidden">
            <div id="map_canvas">
            </div>
            @Html.Action("_topCenter", "Map")
        </div>
    </div>
    <footer id="FooterDiv" class="nav navbar-inverse footerNav">
        <div class="navbar-header">
            <div class="navbar-brand">
                <p class="small">&copy; @DateTime.Now.Year - <span title="@_LayoutViewRes.CSSP_FULL">@_LayoutViewRes.CSSPWebTools</span></p>
            </div>
        </div>
    </footer>

    <div id="dialogs-content">

    </div>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/globalize/globalize.js"></script>
    <script src="~/Scripts/globalize/cultures/globalize.culture.@(ViewBag.Culture).js"></script>
    @if ((LanguageEnum)ViewBag.Language != LanguageEnum.en)
    {
        <script src="~/Scripts/cultures/ValidateMessage.@(ViewBag.Language).js"></script>
    }
    <script type="text/javascript">
        Globalize.culture = Globalize.cultures["@(ViewBag.Culture)"];
    </script>
    <script src="~/Scripts/sammy-0.7.5.js"></script>

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places,drawing,geometry,panoramio&language=@(ViewBag.lang)&key=AIzaSyAwPGpdSM6z0A7DFdWPbS3vIDTk2mxINaA"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        @*google.charts.load("visualization", "1", { "packages": ["annotationchart", "calendar", "corechart", "gauge", "geochart", "map", "orgchart", "sankey", "table", "timeline", "treemap"], "language": "@ViewBag.lang" });*@
        google.charts.load("visualization", "1", { "packages": ["corechart", "table"], "language": "@ViewBag.lang" });
    </script>
    <script src="~/Scripts/infobox.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Scripts/StyleMarker.js"></script>
    <script src="~/Scripts/tinymce.min.js"></script>
    @*<script src="~/Scripts/richmarker.js"></script>*@

    <script src="~/Scripts/csspjs/cssp.Address.js"></script>
    <script src="~/Scripts/csspjs/cssp.Admin.js"></script>
    <script src="~/Scripts/csspjs/cssp.ClimateSite.js"></script>
    <script src="~/Scripts/csspjs/cssp.Contact.js"></script>
    <script src="~/Scripts/csspjs/cssp.BoxModel.js"></script>
    <script src="~/Scripts/csspjs/cssp.Dialog.js"></script>
    <script src="~/Scripts/csspjs/cssp.Document.js"></script>
    <script src="~/Scripts/csspjs/cssp.DocumentAEvents.js"></script>
    <script src="~/Scripts/csspjs/cssp.DocumentButtonEvents.js"></script>
    <script src="~/Scripts/csspjs/cssp.Email.js"></script>
    <script src="~/Scripts/csspjs/cssp.EmailDistributionList.js"></script>
    <script src="~/Scripts/csspjs/cssp.File.js"></script>
    <script src="~/Scripts/csspjs/cssp.ForgotPassword.js"></script>
    <script src="~/Scripts/csspjs/cssp.ForgotPasswordEmailSent.js"></script>
    <script src="~/Scripts/csspjs/cssp.GoogleMap.js"></script>
    <script src="~/Scripts/csspjs/cssp.Helpers.js"></script>
    <script src="~/Scripts/csspjs/cssp.Home.js"></script>
    <script src="~/Scripts/csspjs/cssp.HydrometricSite.js"></script>
    <script src="~/Scripts/csspjs/cssp.Infrastructure.js"></script>
    <script src="~/Scripts/csspjs/cssp.Login.js"></script>
    <script src="~/Scripts/csspjs/cssp.MikeScenario.js"></script>
    <script src="~/Scripts/csspjs/cssp.Models.js"></script>
    <script src="~/Scripts/csspjs/cssp.SamplingPlan.js"></script>
    <script src="~/Scripts/csspjs/cssp.MWQMRun.js"></script>
    <script src="~/Scripts/csspjs/cssp.MWQMSite.js"></script>
    <script src="~/Scripts/csspjs/cssp.OpenData.js"></script>
    <script src="~/Scripts/csspjs/cssp.PolSourceSite.js"></script>
    <script src="~/Scripts/csspjs/cssp.Profile.js"></script>
    <script src="~/Scripts/csspjs/cssp.ProvinceTools.js"></script>
    <script src="~/Scripts/csspjs/cssp.RainExceedance.js"></script>
    <script src="~/Scripts/csspjs/cssp.Register.js"></script>
    <script src="~/Scripts/csspjs/cssp.ReportType.js"></script>
    <script src="~/Scripts/csspjs/cssp.Sammy.js"></script>
    <script src="~/Scripts/csspjs/cssp.SubsectorTools.js"></script>
    <script src="~/Scripts/csspjs/cssp.Tel.js"></script>
    <script src="~/Scripts/csspjs/cssp.Testing.js"></script>
    <script src="~/Scripts/csspjs/cssp.TideSite.js"></script>
    <script src="~/Scripts/csspjs/cssp.TVItem.js"></script>
    <script src="~/Scripts/csspjs/cssp.View.js"></script>
    <script src="~/Scripts/csspjs/cssp.VisualPlumes.js"></script>

    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/typeahead.bundle.js"></script>
    <script src="~/Scripts/bloodhound.js"></script>
    <script src="~/Scripts/jquery.placeholder.js"></script>
    <script src="~/Scripts/csspjs/cssp.js"></script>
    <script type="text/javascript">
        $(function () {
            cssp.Variables.LoginEmail = "@User.Identity.Name";
            cssp.Variables.IsAdmin = "@(ViewBag.IsAdmin.ToString().ToLower())";
            cssp.Variables.IsSamplingPlanner = "@(ViewBag.IsSamplingPlanner.ToString().ToLower())";
            cssp.Variables.TVTextList.push("@_LayoutViewRes.AllLocations");
            cssp.Variables.TVTextList.push("A");
            cssp.Variables.TVItemIDList.push(1);
            cssp.Variables.TVItemIDList.push(1);
            cssp.Variables.VariableShow = "0";
            cssp.SetVisibility();
        });
    </script>
</body>
</html>
