@using CSSPWebTools.Views.ReportType.Resources;
@using CSSPWebTools.Controllers;
@using CSSPEnumsDLL.Enums;
@using CSSPEnumsDLL.Services;
@using CSSPModelsDLL.Models;
@using System.Linq;

@{
    ReportTypeController ReportTypeController = (ReportTypeController)ViewBag.ReportTypeController;
    ReportTypeModel reportTypeModel = (ReportTypeModel)ViewBag.ReportTypeModel;
    int TVItemID = (int)ViewBag.TVItemID;
    BaseEnumService _BaseEnumService = new BaseEnumService(ViewBag.Language);
}

<form class="ReportTypeForm form-horizontal col-lg-6 col-md-8 col-sm-10" method="post" role="form" action="ReportType/ReportTypeAddOrModifyJSON">
    @Html.AntiForgeryToken()
    <fieldset>
        <input type="hidden" name="ReportTypeID" value="@reportTypeModel.ReportTypeID" />
        <input type="hidden" name="TVType" value="@((int)reportTypeModel.TVType)" />
        <input type="hidden" name="UniqueCode" value="@reportTypeModel.UniqueCode" />

        <div class="form-group">
            <label class="control-label col-sm-3" for="LastName">@ReportTypeViewRes.Name</label>
            <div class="col-sm-9">
                <input name="Name" class="form-control" type="text" value="@reportTypeModel.Name">
                <span class="help-block"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="WebName">@ReportTypeViewRes.StartOfFileName</label>
            <div class="col-sm-9">
                <input name="StartOfFileName" class="form-control" type="text" value="@reportTypeModel.StartOfFileName">
                <span class="help-block"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="Description">@ReportTypeViewRes.Description</label>
            <div class="col-sm-9">
                <textarea name="Description" class="form-control">@reportTypeModel.Description</textarea>
                <span class="help-block"></span>
            </div>
        </div>

        <div class="btn-block">
            <button class="jbReportTypeAddOrModify btn btn-primary" type="submit" data-addormodify="modify" 
                    data-tvtype="@((int)reportTypeModel.TVType)" data-tvitemid="@TVItemID">
                <span class="glyphicon glyphicon-check"></span>
                &nbsp;@ReportTypeViewRes.Modify
            </button>
        </div>
    </fieldset>
</form>
