@using CSSPWebTools.Views.ReportType.Resources;
@using CSSPWebTools.Controllers;
@using CSSPEnumsDLL.Enums;
@using CSSPEnumsDLL.Services;
@using CSSPModelsDLL.Models;
@using System.Linq;

@{
    ReportTypeController ReportTypeController = (ReportTypeController)ViewBag.ReportTypeController;
    List<ReportTypeModel> reportTypeModelENList = (List<ReportTypeModel>)ViewBag.ReportTypeModelENList;
    List<ReportTypeModel> reportTypeModelFRList = (List<ReportTypeModel>)ViewBag.ReportTypeModelFRList;
    BaseEnumService _BaseEnumService = new BaseEnumService(ViewBag.Language);
    TVTypeEnum TVType = (TVTypeEnum)ViewBag.TVType;
}

@if (reportTypeModelENList.Count == 0 && reportTypeModelFRList.Count == 0)
{
    <div>@(string.Format(ReportTypeViewRes.NoReportTypeCreatedYetFor_, TVType.ToString()))</div>
}
else
{
    <div><h1>@ReportTypeViewRes.English</h1></div>
    foreach (ReportTypeModel reportTypeModel in reportTypeModelENList.OrderBy(c => c.Name))
    {
        <div class="ReportTypeItemTop panel panel-success" data-reporttypeid="@reportTypeModel.ReportTypeID">
            <div class="panel-heading">
                <div class="panel-title">
                    <div>
                        <button class="jbReportTypeDetailShowHide btn btn-default">
                            <span class="glyphicon glyphicon-arrow-down" title="@ReportTypeViewRes.ShowOrHideReportType"></span>
                        </button>&nbsp;&nbsp;&nbsp;
                        <button class="jbReportSectionListShowHide btn btn-default">
                            <span class="glyphicon glyphicon-book" title="@(ReportTypeViewRes.ShowOrHideReportSectionList) "></span>
                        </button>&nbsp;&nbsp;&nbsp;
                        @switch (reportTypeModel.FileType)
                        {
                            case FileTypeEnum.DOCX:
                                {
                                    <img src="~/Images/Word_icon16.png" />
                                }
                                break;
                            case FileTypeEnum.KMZ:
                            case FileTypeEnum.KML:
                                {
                                    <img src="~/Images/GoogleEarth_icon16.png" />
                                }
                                break;
                            case FileTypeEnum.CSV:
                            case FileTypeEnum.XLSX:
                                {
                                    <img src="~/Images/Excel_icon16.png" />
                                }
                                break;
                            default:
                                {
                                    <img src="~/Images/GeneralFile_icon16.png" />
                                }
                                break;
                        }
                        <span>&nbsp;&nbsp;@reportTypeModel.Name</span>&nbsp;&nbsp;&nbsp;
                        <span>@ReportTypeViewRes.FileNameWillStartWith : @(reportTypeModel.StartOfFileName)</span>
                    </div>
                </div>
            </div>
            <div class="ParametersTop panel-body hidden">
                <label>@reportTypeModel.Description</label>
                <div class="DocumentListDiv">
                </div>
                <div class="DocumentGenerateDiv">
                </div>
            </div>
            <div class="ReportSectionListTopDiv panel-body hidden">
                <label>@ReportTypeViewRes.ReportSections</label>
                <div class="ReportSectionListDiv">
                </div>
            </div>
        </div>
    }

    <div><h1>@ReportTypeViewRes.French</h1></div>
    foreach (ReportTypeModel reportTypeModel in reportTypeModelFRList.OrderBy(c => c.Name))
    {
        <div class="ReportTypeItemTop panel panel-success" data-reporttypeid="@reportTypeModel.ReportTypeID">
            <div class="panel-heading">
                <div class="panel-title">
                    <div>
                        <button class="jbReportTypeDetailShowHide btn btn-default">
                            <span class="glyphicon glyphicon-arrow-down" title="@ReportTypeViewRes.ShowOrHideReportType"></span>
                        </button>&nbsp;&nbsp;&nbsp;
                        <button class="jbReportSectionListShowHide btn btn-default">
                            <span class="glyphicon glyphicon-book" title="@(ReportTypeViewRes.ShowOrHideReportSectionList) "></span>
                        </button>&nbsp;&nbsp;&nbsp;
                        @switch (reportTypeModel.FileType)
                        {
                            case FileTypeEnum.DOCX:
                                {
                                    <img src="~/Images/Word_icon16.png" />
                                }
                                break;
                            case FileTypeEnum.KMZ:
                            case FileTypeEnum.KML:
                                {
                                    <img src="~/Images/GoogleEarth_icon16.png" />
                                }
                                break;
                            case FileTypeEnum.CSV:
                            case FileTypeEnum.XLSX:
                                {
                                    <img src="~/Images/Excel_icon16.png" />
                                }
                                break;
                            default:
                                {
                                    <img src="~/Images/GeneralFile_icon16.png" />
                                }
                                break;
                        }
                        <span>&nbsp;&nbsp;@reportTypeModel.Name</span>&nbsp;&nbsp;&nbsp;
                        <span>@ReportTypeViewRes.FileNameWillStartWith : @(reportTypeModel.StartOfFileName)</span>
                    </div>
                </div>
            </div>
            <div class="ParametersTop panel-body hidden">
                <label>@reportTypeModel.Description</label>
                <div class="DocumentListDiv">
                </div>
                <div class="DocumentGenerateDiv">
                </div>
            </div>
            <div class="ReportSectionListTopDiv panel-body hidden">
                <label>@ReportTypeViewRes.ReportSections</label>
                <div class="ReportSectionListDiv">
                </div>
            </div>
        </div>
    }

}
