@using CSSPWebTools.Models;
@using CSSPWebTools.Views.RainExceedance.Resources;
@using CSSPWebTools.Views.Shared.Resources;
@using CSSPWebTools.Controllers;
@using System.Globalization;
@using CSSPEnumsDLL.Enums;
@using CSSPEnumsDLL.Services;
@using CSSPModelsDLL.Models;

@{
    RainExceedanceController rainExceedanceController = (RainExceedanceController)ViewBag.RainExceedanceController;
    RainExceedanceModel rainExceedanceModel = (RainExceedanceModel)ViewBag.RainExceedanceModel;
    List<EmailDistributionListModel> EmailDistributionListModelList = (List<EmailDistributionListModel>)ViewBag.EmailDistributionListModelList;
    int ParentTVItemID = (int)ViewBag.ParentTVItemID;

}

<div class="RainExceedanceAddOrModify">
    <form class="RainExceedanceAddOrModifyForm" method="post" role="form" action="RainExceedance/RainExceedanceSaveJSON">
        @Html.AntiForgeryToken()
        <fieldset>
            <input type="hidden" name="ParentTVItemID" value="@ParentTVItemID" />
            @if (rainExceedanceModel == null)
            {
                <legend><span>@RainExceedanceViewRes.Add</span></legend>
                <input type="hidden" name="RainExceedanceID" value="0" />
            }
            else
            {
                <legend><span>@RainExceedanceViewRes.Modify</span></legend>
                <input type="hidden" name="RainExceedanceID" value="@rainExceedanceModel.RainExceedanceID" />
            }
            <div class="paraBlock">
                @* Rain Exceedance Is Active *@
                <div class="form-group blockRightSpace">
                    <label for="IsActive" class="control-label">
                        <input class="checkbox-inline" type="checkbox" name="IsActive" @(rainExceedanceModel != null && rainExceedanceModel.IsActive ? "checked=checked" : "") />
                        <span>@RainExceedanceViewRes.IsActive</span>
                        <span class="help-block"></span>
                    </label>
                </div>
                @* Rain Exceedance Name *@
                <div class="form-group blockRightSpace">
                    <label for="RainExceedanceName" class="control-label">@RainExceedanceViewRes.RainExceedanceName</label>
                    <div>
                        <input class="form-control" type="text" name="RainExceedanceName" value="@(rainExceedanceModel != null
                                                        ? rainExceedanceModel.RainExceedanceName : "")" />
                        <span class="help-block"></span>
                    </div>
                </div>
                <div>
                    <h4>@RainExceedanceViewRes.YouMightHaveToCreateTheEmailDistributionListBeforeContinuing</h4>
                </div>
                @* Stakeholders Email Distribution List*@
                <div class="form-group  blockRightSpace">
                    <label class="control-label">@RainExceedanceViewRes.StakeholdersEmailDistributionList</label>
                    <div>
                        <select class="form-control" name="StakeholdersEmailDistributionListID">
                            @if (rainExceedanceModel == null)
                            {
                                <option @("selected=selected") value="0">@RainExceedanceViewRes.SelectStakeholdersEmailDistributionList</option>
                            }
                            else
                            {
                                if (rainExceedanceModel.StakeholdersEmailDistributionListID == null)
                                {
                                    <option @("selected=selected") value="0">@RainExceedanceViewRes.SelectStakeholdersEmailDistributionList</option>
                                }
                            }

                            @foreach (EmailDistributionListModel emailDistributionListModel in EmailDistributionListModelList.OrderBy(c => c.EmailListName))
                            {
                                <option @(rainExceedanceModel != null && rainExceedanceModel.StakeholdersEmailDistributionListID == emailDistributionListModel.EmailDistributionListID ? "selected=selected" : "") value="@emailDistributionListModel.EmailDistributionListID.ToString()">@emailDistributionListModel.EmailListName</option>
                            }
                        </select>
                    </div>
                </div>
                @* Only Staff Email Distribution List*@
                <div class="form-group  blockRightSpace">
                    <label class="control-label">@RainExceedanceViewRes.OnlyStaffEmailDistributionList</label>
                    <div>
                        <select class="form-control" name="OnlyStaffEmailDistributionListID">
                            @if (rainExceedanceModel == null)
                            {
                                <option @("selected=selected") value="0">@RainExceedanceViewRes.SelectOnlyStaffEmailDistributionList</option>
                            }
                            else
                            {
                                if (rainExceedanceModel.OnlyStaffEmailDistributionListID == null)
                                {
                                    <option @("selected=selected") value="0">@RainExceedanceViewRes.SelectOnlyStaffEmailDistributionList</option>
                                }
                            }

                            @foreach (EmailDistributionListModel emailDistributionListModel in EmailDistributionListModelList.OrderBy(c => c.EmailListName))
                            {
                                <option @(rainExceedanceModel != null && rainExceedanceModel.OnlyStaffEmailDistributionListID == emailDistributionListModel.EmailDistributionListID ? "selected=selected" : "") value="@emailDistributionListModel.EmailDistributionListID.ToString()">@emailDistributionListModel.EmailListName</option>
                            }
                        </select>
                    </div>
                </div>
                @* Start Date *@
                <label>@RainExceedanceViewRes.StartDate</label>
                <div class="blockMargin lineSpaceBottom">
                    <div class="form-inline">
                        <div class="form-group  blockRightSpace">
                            <label class="control-label">@RainExceedanceViewRes.Month</label>
                            <div>
                                <select class="form-control" name="StartMonth">
                                    @for (int i = 1; i < 13; i++)
                                    {
                                        if (rainExceedanceModel == null)
                                        {
                                            if (i == 1)
                                            {
                                                <option @("selected=selected") value="@i.ToString()">@(CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i))</option>
                                            }
                                            else
                                            {
                                                <option value="@i.ToString()">@(CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i))</option>
                                            }
                                        }
                                        else
                                        {
                                            <option @(rainExceedanceModel.StartMonth == i ? "selected=selected" : "") value="@i.ToString()">@(CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i))</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group  blockRightSpace">
                            <label class="control-label">@RainExceedanceViewRes.Day</label>
                            <div>
                                <select class="form-control" name="StartDay">
                                    @{
                                        for (int i = 1; i < 32; i++)
                                        {
                                            if (rainExceedanceModel == null)
                                            {
                                                if (i == 1)
                                                {
                                                    <option @("selected=selected") value="@i.ToString()">@i.ToString()</option>
                                                }
                                                else
                                                {
                                                    <option value="@i.ToString()">@i.ToString()</option>
                                                }
                                            }
                                            else
                                            {
                                                <option @(rainExceedanceModel.StartDay == i ? "selected=selected" : "") value="@i.ToString()">@i.ToString()</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                @* End Date *@
                <label>@RainExceedanceViewRes.EndDate</label>
                <div class="blockMargin lineSpaceBottom">
                    <div class="form-inline">
                        <div class="form-group  blockRightSpace">
                            <label class="control-label">@RainExceedanceViewRes.Month</label>
                            <div>
                                <select class="form-control" name="EndMonth">
                                    @for (int i = 1; i < 13; i++)
                                    {
                                        if (rainExceedanceModel == null)
                                        {
                                            if (i == 1)
                                            {
                                                <option @("selected=selected") value="@i.ToString()">@(CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i))</option>
                                            }
                                            else
                                            {
                                                <option value="@i.ToString()">@(CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i))</option>
                                            }
                                        }
                                        else
                                        {
                                            <option @(rainExceedanceModel.EndMonth == i ? "selected=selected" : "") value="@i.ToString()">@(CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i))</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group  blockRightSpace">
                            <label class="control-label">@RainExceedanceViewRes.Day</label>
                            <div>
                                <select class="form-control" name="EndDay">
                                    @{
                                        for (int i = 1; i < 32; i++)
                                        {
                                            if (rainExceedanceModel == null)
                                            {
                                                if (i == 1)
                                                {
                                                    <option @("selected=selected") value="@i.ToString()">@i.ToString()</option>
                                                }
                                                else
                                                {
                                                    <option value="@i.ToString()">@i.ToString()</option>
                                                }
                                            }
                                            else
                                            {
                                                <option @(rainExceedanceModel.EndDay == i ? "selected=selected" : "") value="@i.ToString()">@i.ToString()</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                @* Rain Maximum *@
                <div class="form-group blockRightSpace">
                    <label for="RainMaximum" class="control-label">@RainExceedanceViewRes.RainMaximum (@UnitViewRes.Milliliters)</label>
                    <div>
                        <input class="isnumber form-control" type="text" name="RainMaximum_mm" value="@(rainExceedanceModel != null
                                                        ? ((double)rainExceedanceModel.RainMaximum_mm).ToString("F1") : "")" />
                        <span class="help-block"></span>
                    </div>
                </div>
                @* Lat *@
                <div class="form-group blockRightSpace">
                    <label for="Lat" class="control-label">@RainExceedanceViewRes.Lat</label>
                    <div>
                        <input class="isnumber form-control" type="text" name="Lat" value="@(rainExceedanceModel != null
                                                        ? ((double)rainExceedanceModel.Lat).ToString("F5") : "")" />
                        <span class="help-block"></span>
                    </div>
                </div>
                @* Lng *@
                <div class="form-group blockRightSpace">
                    <label for="Lng" class="control-label">@RainExceedanceViewRes.Lng</label>
                    <div>
                        <input class="isnumber form-control" type="text" name="Lng" value="@(rainExceedanceModel != null
                                                        ? ((double)rainExceedanceModel.Lng).ToString("F5") : "")" />
                        <span class="help-block"></span>
                    </div>
                </div>
                @* Save and Cancel Buttons  *@
                <div class="form-group blockRightSpace">
                    <div>
                        <button class="jbRainExceedanceSave btn btn-default">@RainExceedanceViewRes.Save</button>
                        @if (rainExceedanceModel != null)
                        {
                            <button class="jbRainExceedanceAskToDelete btn btn-default" data-rainexceedancename="@rainExceedanceModel.RainExceedanceName" data-rainexceedancetvitemid="@rainExceedanceModel.RainExceedanceTVItemID">@RainExceedanceViewRes.Delete</button>
                        }
                        <p class="h4">@RainExceedanceViewRes.ToCancelEditJustClickOnGreenEditButton</p>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <div>
        @if (rainExceedanceModel == null)
        {
            <p>@RainExceedanceViewRes.AfterSavingTheRainExceedanceWithLatLngYouWillBeAbleToSelectClimateSites</p>
        }
        else
        {
            <div class="RainExceedanceClimateSitesTop panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>
                            <button class="jbRainExceedanceShowClimateSite btn btn-default" data-rainexceedancetvitemid="@rainExceedanceModel.RainExceedanceTVItemID">@RainExceedanceViewRes.ShowClimateSites</button>
                        </h4>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="RainExceedanceClimateSites"></div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $(function () {
        cssp.RainExceedance.InitEdit();
    });
</script>

