@using CSSPWebTools.Views.RainExceedance.Resources;
@using CSSPWebTools.Models;
@using CSSPEnumsDLL.Enums;
@using CSSPEnumsDLL.Services;
@using CSSPModelsDLL.Models;
@using CSSPWebTools.Controllers;

@{
    URLModel urlModel = (URLModel)ViewBag.URLModel;
    bool IsShowMap = (bool)ViewBag.IsShowMap;
    TVAuthEnum tvAuth = (TVAuthEnum)ViewBag.TVAuth;
    int ParentTVItemID = (int)ViewBag.ParentTVItemID;
    List<RainExceedanceModel> rainExceedanceModelList = (List<RainExceedanceModel>)ViewBag.RainExceedanceModelList;
}

<div class="RainExceedanceTopDiv">
    <div>
        <h2>@RainExceedanceViewRes.RainExceedance</h2>
    </div>
    <div class="panel-group" id="rainExceedanceAccordion" role="tablist" aria-multiselectable="false">
        @foreach (RainExceedanceModel rainExceedanceModel in rainExceedanceModelList)
        {
            string HeadingID = "RainExceedanceHeading" + rainExceedanceModel.RainExceedanceID.ToString();
            string CollapseID = "RainExceedanceCollapse" + rainExceedanceModel.RainExceedanceID.ToString();
            string StartMonthText = new DateTime(2000, rainExceedanceModel.StartMonth, 1).ToString("MMMM");
            string EndMonthText = new DateTime(2000, rainExceedanceModel.EndMonth, 1).ToString("MMMM");

            <div class="RainExceedanceItem panel panel-@(rainExceedanceModel.IsActive ? "info" : "warning")" data-rainexceedanceid="@rainExceedanceModel.RainExceedanceID">
                <div class="panel-heading" role="tab" id="@HeadingID">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#rainExceedanceAccordion" href="#@CollapseID" aria-expanded="false" aria-controls="@CollapseID">
                            @rainExceedanceModel.RainExceedanceName (@(rainExceedanceModel.IsActive ? RainExceedanceViewRes.IsActive : RainExceedanceViewRes.Inactive))
                        </a>
                    </h4>
                </div>
                <div id="@CollapseID" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@HeadingID">
                    <div class="panel-body">
                        <h4>
                            <button class="jbRainExceedanceShowAddOrModify btn btn-default" data-rainexceedancetvitemid="@rainExceedanceModel.RainExceedanceTVItemID">@RainExceedanceViewRes.Edit</button>
                        </h4>
                        <div class="RainExceedanceShowTop">
                            <ul class="list-inline">
                                <li>
                                    <strong>@RainExceedanceViewRes.IsActive:</strong> @rainExceedanceModel.IsActive
                                </li>
                                <li>
                                    <strong>@RainExceedanceViewRes.ApproximateLocation:</strong> @rainExceedanceModel.Lat.ToString("F5") @rainExceedanceModel.Lng.ToString("F5")
                                </li>
                                <li>
                                    <strong>@RainExceedanceViewRes.RainMaximum (mm):</strong> @rainExceedanceModel.RainMaximum_mm
                                </li>
                            </ul>
                            <ul class="list-inline">
                                <li>
                                    <strong>@RainExceedanceViewRes.StartDate:</strong> @(StartMonthText + " " + rainExceedanceModel.StartDay.ToString())
                                </li>
                                <li>
                                    <strong>@RainExceedanceViewRes.EndDate:</strong> @(EndMonthText + " " + rainExceedanceModel.EndDay.ToString())
                                </li>
                            </ul>
                            <ul class="list-inline">
                                <li>
                                    <h4>@RainExceedanceViewRes.EmailDistributionList</h4>
                                </li>
                            </ul>
                            <ul class="list-inline">
                                <li class="EmailDistributionListTop">
                                    <button class="jbRainExceedanceShowEmailDistributionListContact btn btn-default" data-emaildistributionlist="@rainExceedanceModel.StakeholdersEmailDistributionListID">@RainExceedanceViewRes.Show</button>
                                    <strong>@RainExceedanceViewRes.Stakeholders:</strong>  @rainExceedanceModel.StakeholdersEmailDistributionListName
                                    <div class="EmailDistributionList"></div>
                                </li>
                            </ul>
                            <ul class="list-inline">
                                <li class="EmailDistributionListTop">
                                    <button class="jbRainExceedanceShowEmailDistributionListContact btn btn-default" data-emaildistributionlist="@rainExceedanceModel.OnlyStaffEmailDistributionListID">@RainExceedanceViewRes.Show</button>
                                    <strong>@RainExceedanceViewRes.OnlyStaff:</strong>  @rainExceedanceModel.OnlyStaffEmailDistributionListName
                                    <div class="EmailDistributionList"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="RainExceedanceAddOrModifyTop">

                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="RainExceedanceItem panel panel-default" data-rainexceedanceid="0">
            <div class="panel-heading" role="tab" id="AddHeadingID">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#rainExceedanceAccordion" href="#AddCollapseID" aria-expanded="false" aria-controls="AddCollapseID">
                        @RainExceedanceViewRes.OpenTo @RainExceedanceViewRes.CreateNewRainExceedance
                    </a>
                </h4>
            </div>
            <div id="AddCollapseID" class="panel-collapse collapse" role="tabpanel" aria-labelledby="AddHeadingID">
                <div class="panel-body">
                    <div class="rainExceedanceShowTop">
                        <button class="jbRainExceedanceShowAddOrModify btn btn-default" data-rainexceedancetvitemid="0">@RainExceedanceViewRes.CreateNewRainExceedance</button>
                    </div>
                    <div class="RainExceedanceAddOrModifyTop">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>