@using CSSPWebTools.Views.RainExceedance.Resources;
@using CSSPWebTools.Models;
@using CSSPEnumsDLL.Enums;
@using CSSPEnumsDLL.Services;
@using CSSPModelsDLL.Models;
@using CSSPWebTools.Controllers;

@{
    URLModel urlModel = (URLModel)ViewBag.URLModel;
    bool IsShowMap = (bool)ViewBag.IsShowMap;
    TVAuthEnum tvAuth = (TVAuthEnum)ViewBag.TVAuth;
    int ParentTVItemID = (int)ViewBag.ParentTVItemID;
    List<RainExceedanceModel> rainExceedanceModelList = (List<RainExceedanceModel>)ViewBag.RainExceedanceModelList;
}

<div class="RainExceedanceTopDiv">
    <div class="panel-group" id="rainExceedanceAccordion" role="tablist" aria-multiselectable="false">

        @foreach (RainExceedanceModel rainExceedanceModel in rainExceedanceModelList)
        {
            string HeadingID = "RainExceedanceHeading" + rainExceedanceModel.RainExceedanceID.ToString();
            string CollapseID = "RainExceedanceCollapse" + rainExceedanceModel.RainExceedanceID.ToString();
            string StartMonthText = new DateTime(2000, rainExceedanceModel.StartMonth, 1).ToString("MMMM");
            string EndMonthText = new DateTime(2000, rainExceedanceModel.EndMonth, 1).ToString("MMMM");

            <div class="RainExceedanceItem panel panel-default" data-rainexceedanceid="@rainExceedanceModel.RainExceedanceID">
                <div class="panel-heading" role="tab" id="@HeadingID">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#rainExceedanceAccordion" href="#@CollapseID" aria-expanded="false" aria-controls="@CollapseID">
                            @rainExceedanceModel.RainExceedanceName
                        </a>
                    </h4>
                </div>
                <div id="@CollapseID" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@HeadingID">
                    <div class="panel-body">
                        <div class="RainExceedanceShowTop">
                            <h1 class="text-danger">
                                @rainExceedanceModel.RainExceedanceName
                                <button class="jsRainExceedanceShowAddOrModify btn btn-default" data-rainexceedanceid="@rainExceedanceModel.RainExceedanceID">@RainExceedanceViewRes.Edit</button>
                            </h1>
                            <br />
                            <ul class="list-unstyled">
                                <li>
                                    @RainExceedanceViewRes.StartDate : @(StartMonthText + " " + rainExceedanceModel.StartDay.ToString())
                                </li>
                                <li>
                                    @RainExceedanceViewRes.EndDate : @(EndMonthText + " " + rainExceedanceModel.EndDay.ToString())
                                </li>
                                <li>
                                    @RainExceedanceViewRes.RainMaximum (mm) : @rainExceedanceModel.RainMaximum_mm
                                </li>
                                <li>
                                    @RainExceedanceViewRes.StakeholdersEmailDistributionList : @rainExceedanceModel.StakeholdersEmailDistributionListName ?? "--"
                                    <button class="jsRainExceedanceShowStakeholdersEmailDistributionList btn btn-default">@RainExceedanceViewRes.Show @RainExceedanceViewRes.StakeholdersEmailDistributionList</button>
                                </li>
                                <li>
                                    @RainExceedanceViewRes.OnlyStaffEmailDistributionList : @rainExceedanceModel.OnlyStaffEmailDistributionListName ?? "--"
                                    <button class="jsRainExceedanceShowOnlyStaffEmailDistributionList btn btn-default">@RainExceedanceViewRes.Show @RainExceedanceViewRes.OnlyStaffEmailDistributionList</button>
                                </li>
                                <li>
                                    @RainExceedanceViewRes.ApproximateLocation : @rainExceedanceModel.Lat.ToString("F5") @rainExceedanceModel.Lng.ToString("F5")
                                </li>
                            </ul>


                        </div>
                        <div class="RainExceedanceAddOrModifyTop">

                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="RainExceedanceItem panel panel-default" data-rainexceedanceid="0">
            <div class="panel-heading" role="tab" id="AddHeadingID">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#rainExceedanceAccordion" href="#AddCollapseID" aria-expanded="false" aria-controls="AddCollapseID">
                        @RainExceedanceViewRes.CreateNewRainExceedance
                    </a>
                </h4>
            </div>
            <div id="AddCollapseID" class="panel-collapse collapse" role="tabpanel" aria-labelledby="AddHeadingID">
                <div class="panel-body">
                    <div class="rainExceedanceShowTop">
                        <h1 class="text-danger">
                            <button class="jsRainExceedanceShowEdit btn btn-default" data-rainexceedanceid="0">@RainExceedanceViewRes.CreateNewRainExceedance</button>
                        </h1>
                    </div>
                    <div class="rainExceedanceAddOrModifyTop">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>