@using CSSPWebTools.Views.Document.Resources;
@using CSSPWebTools.Controllers;
@using CSSPEnumsDLL.Enums;
@using CSSPEnumsDLL.Services;
@using CSSPModelsDLL.Models;

@{
    DocumentController documentController = (DocumentController)ViewBag.DocumentController;
    int ReportTypeID = (int)ViewBag.ReportTypeID;
    int TVItemID = (int)ViewBag.TVItemID;
    int TVFileTVItemID = (int)ViewBag.TVFileTVItemID;
    ReportTypeModel reportTypeModel = (ReportTypeModel)ViewBag.ReportTypeModel;
}

@if (TVFileTVItemID == 0)
{
    <ul class="GenerateReportTopDiv BorderOtherInfrastructure list-unstyled">
        <li>
            <form class="GenerateReport" method="post" role="form" action="Document/DocumentGenerateJSON">
                @Html.AntiForgeryToken()
                <fieldset>
                    <input type="hidden" name="TVItemID" value="@TVItemID" />
                    <input type="hidden" name="ReportTypeID" value="@ReportTypeID" />
                    @Parameters(reportTypeModel.UniqueCode)
                    <div class="form-group">
                        <button class="jbDocumentGenerate btn btn-primary" type="submit">
                            <span class="glyphicon glyphicon-check"></span>
                            &nbsp;@DocumentViewRes.GenerateReportWithParameters
                        </button>
                    </div>
                </fieldset>
            </form>
        </li>
    </ul>
}
else
{
    <ul class="list-unstyled">
        <li>
            @Parameters(reportTypeModel.UniqueCode)
        </li>
    </ul>
}

@helper Parameters(string UniqueCode)
{
    switch (UniqueCode)
    {
        case "MikeScenarioBoundaryConditionsKMZ":
            {
                <legend>
                    <span>@DocumentViewRes.Parameters</span>
                    <button class="jbHelpDocShowDialog btn btn-link" data-dockey="documentparametersformikescenarioboundaryconditionskmz" data-title="@DocumentViewRes.Parameters @DocumentViewRes.For @DocumentViewRes.BoundaryConditions"><span class="glyphicon glyphicon-info-sign"></span></button>
                </legend>
                <span>@DocumentViewRes.NoParameters</span>
                <button class="jbHelpDocShowDialog btn btn-link" data-dockey="documentmikescenariokmlnoparameters" data-title="@DocumentViewRes.NoParameters"><span class="glyphicon glyphicon-info-sign"></span></button>
            }
            break;
        case "MikeScenarioMeshKMZ":
            {
                <legend>
                    <span>@DocumentViewRes.Parameters</span>
                    <button class="jbHelpDocShowDialog btn btn-link" data-dockey="documentparametersformikescenariomeshkmz" data-title="@DocumentViewRes.Parameters @DocumentViewRes.For @DocumentViewRes.Mesh"><span class="glyphicon glyphicon-info-sign"></span></button>
                </legend>
                <span>@DocumentViewRes.NoParameters</span>
                <button class="jbHelpDocShowDialog btn btn-link" data-dockey="documentmikescenariokmlnoparameters" data-title="@DocumentViewRes.NoParameters"><span class="glyphicon glyphicon-info-sign"></span></button>
            }
            break;
        case "MikeScenarioStudyAreaKMZ":
            {
                <legend>
                    <span>@DocumentViewRes.Parameters</span>
                    <button class="jbHelpDocShowDialog btn btn-link" data-dockey="documentparametersformikescenariostudyareakmz" data-title="@DocumentViewRes.Parameters @DocumentViewRes.For @DocumentViewRes.StudyArea"><span class="glyphicon glyphicon-info-sign"></span></button>
                </legend>
                <span>@DocumentViewRes.NoParameters</span>
                <button class="jbHelpDocShowDialog btn btn-link" data-dockey="documentmikescenariokmlnoparameters" data-title="@DocumentViewRes.NoParameters"><span class="glyphicon glyphicon-info-sign"></span></button>
            }
            break;
        case "MikeScenarioPollutionLimitKMZ":
            {
                <legend>
                    <span>@DocumentViewRes.Parameters</span>
                    <button class="jbHelpDocShowDialog btn btn-link" data-dockey="documentparametersformikescenariopollutionlimitkmz" data-title="@DocumentViewRes.Parameters @DocumentViewRes.For @DocumentViewRes.PollutionLimit"><span class="glyphicon glyphicon-info-sign"></span></button>
                </legend>
                <div class="form-inline">
                    <label>
                        <span>@DocumentViewRes.ContourValues</span>
                        <button class="jbHelpDocShowDialog btn btn-link" data-dockey="documentmikescenariokmlcontourvalues" data-title="@DocumentViewRes.ContourValues"><span class="glyphicon glyphicon-info-sign"></span></button>
                        <input type="text" name="ContourValues" value="14 88" class="form-control">
                        <span>EX: 14 88 1000</span>
                    </label>
                </div>
            }
            break;
        case "MikeScenarioPollutionAnimationKMZ":
            {
                <legend>
                    <span>@DocumentViewRes.Parameters</span>
                    <button class="jbHelpDocShowDialog btn btn-link" data-dockey="documentparametersformikescenariopollutionanimationkmz" data-title="@DocumentViewRes.Parameters @DocumentViewRes.For @DocumentViewRes.PollutionAnimation "><span class="glyphicon glyphicon-info-sign"></span></button>
                </legend>
                <div class="form-inline">
                    <label>
                        <span>@DocumentViewRes.ContourValues</span>
                        <button class="jbHelpDocShowDialog btn btn-link" data-dockey="documentmikescenariokmlcontourvalues" data-title="@DocumentViewRes.ContourValues"><span class="glyphicon glyphicon-info-sign"></span></button>
                        <input type="text" name="ContourValues" value="14 88" class="form-control">
                        <span>EX: 14 88 1000</span>
                    </label>
                </div>
            }
            break;
        case "MikeScenarioCurrentsAnimationKMZ":
            {
                <legend>
                    <span>@DocumentViewRes.Parameters</span>
                    <button class="jbHelpDocShowDialog btn btn-link" data-dockey="documentparametersformikescenariocurrentsanimationkmz" data-title="@DocumentViewRes.Parameters @DocumentViewRes.For @DocumentViewRes.CurrentsAnimation"><span class="glyphicon glyphicon-info-sign"></span></button>
                </legend>
                <div class="form-inline">
                    <label>
                        <span>@DocumentViewRes.GoogleEarthPath</span>
                        <button class="jbHelpDocShowDialog btn btn-link" data-dockey="documentmikescenariokmlgoogleearthpath" data-title="@DocumentViewRes.GoogleEarthPath"><span class="glyphicon glyphicon-info-sign"></span></button>
                        <textarea name="GoogleEarthPath" class="form-control"></textarea>
                        <br />
                        <span>EX: </span>
                        <pre>
&lt;?xml version="1.0" encoding="UTF-8" ?&gt;
&lt;kml xmlns="http://... etc...
                        </pre>
                    </label>
                </div>
            }
            break;
        case "MikeScenarioEstimatedDroguePathsAnimationKMZ":
            {
                <legend>
                    <span>@DocumentViewRes.Parameters</span>
                    <button class="jbHelpDocShowDialog btn btn-link" data-dockey="documentparametersformikescenarioestimateddroguepathsanimationkmz" data-title="@DocumentViewRes.Parameters @DocumentViewRes.For @DocumentViewRes.EstimatedDroguePathsAnimation"><span class="glyphicon glyphicon-info-sign"></span></button>
                </legend>
                <div class="form-inline">
                    <button class="jbHelpDocShowDialog btn btn-link" data-dockey="documentmikescenariokmldofirstxdroguepoints" data-title="@DocumentViewRes.DoFirstXDroguePoints"><span class="glyphicon glyphicon-info-sign"></span></button>
                    <label>
                        <span>@DocumentViewRes.DoFirstXDroguePoints</span>&nbsp;&nbsp;&nbsp;
                    </label>
                    <input type="radio" name="DoFirstXDroguePoints" checked="checked" value="1" class="form-control">&nbsp;&nbsp;<span>1</span>&nbsp;&nbsp;
                    <input type="radio" name="DoFirstXDroguePoints" value="2" class="form-control">&nbsp;&nbsp;<span>2</span>&nbsp;&nbsp;
                    <input type="radio" name="DoFirstXDroguePoints" value="3" class="form-control">&nbsp;&nbsp;<span>3</span>&nbsp;&nbsp;
                    <input type="radio" name="DoFirstXDroguePoints" value="4" class="form-control">&nbsp;&nbsp;<span>4</span>&nbsp;&nbsp;
                </div>
                <div class="form-inline">
                    <button class="jbHelpDocShowDialog btn btn-link" data-dockey="documentmikescenariokmlstartanotherdrogueafterxhours" data-title="@DocumentViewRes.StartAnotherDrogueAfterXHours"><span class="glyphicon glyphicon-info-sign"></span></button>
                    <label>
                        <span>@DocumentViewRes.StartAnotherDrogueAfterXHours</span>&nbsp;&nbsp;&nbsp;
                    </label>
                    <input type="checkbox" name="Delays" value="0" checked="checked" class="form-control">&nbsp;&nbsp;<span>0</span>&nbsp;&nbsp;
                    @*<input type="checkbox" name="Delays" value="1" class="form-control">&nbsp;&nbsp;<span>1</span>&nbsp;&nbsp;*@
                    <input type="checkbox" name="Delays" value="2" checked="checked"  class="form-control">&nbsp;&nbsp;<span>2</span>&nbsp;&nbsp;
                    @*<input type="checkbox" name="Delays" value="3" checked="checked" class="form-control">&nbsp;&nbsp;<span>3</span>&nbsp;&nbsp;*@
                    <input type="checkbox" name="Delays" value="4" class="form-control">&nbsp;&nbsp;<span>4</span>&nbsp;&nbsp;
                    @*<input type="checkbox" name="Delays" value="5" class="form-control">&nbsp;&nbsp;<span>5</span>&nbsp;&nbsp;*@
                    <input type="checkbox" name="Delays" value="6" class="form-control">&nbsp;&nbsp;<span>6</span>&nbsp;&nbsp;
                    @*<input type="checkbox" name="Delays" value="7" class="form-control">&nbsp;&nbsp;<span>7</span>&nbsp;&nbsp;*@
                    <input type="checkbox" name="Delays" value="8" class="form-control">&nbsp;&nbsp;<span>8</span>&nbsp;&nbsp;
                    @*<input type="checkbox" name="Delays" value="9" class="form-control">&nbsp;&nbsp;<span>9</span>&nbsp;&nbsp;*@
                    <input type="checkbox" name="Delays" value="10" class="form-control">&nbsp;&nbsp;<span>10</span>&nbsp;&nbsp;
                    @*<input type="checkbox" name="Delays" value="11" class="form-control">&nbsp;&nbsp;<span>11</span>&nbsp;&nbsp;
                    <input type="checkbox" name="Delays" value="12" class="form-control">&nbsp;&nbsp;<span>12</span>&nbsp;&nbsp;*@
                </div>
                <div class="form-inline">
                    <button class="jbHelpDocShowDialog btn btn-link" data-dockey="documentmikescenariokmldolayers" data-title="@DocumentViewRes.DoLayers"><span class="glyphicon glyphicon-info-sign"></span></button>
                    <label>
                        <span>@DocumentViewRes.DoLayers</span>&nbsp;&nbsp;&nbsp;
                    </label>
                    <input type="checkbox" name="Layers" value="1" checked="checked" class="form-control">&nbsp;&nbsp;<span>1</span>&nbsp;&nbsp;
                    <input type="checkbox" name="Layers" value="2" class="form-control">&nbsp;&nbsp;<span>2</span>&nbsp;&nbsp;
                    <input type="checkbox" name="Layers" value="3" class="form-control">&nbsp;&nbsp;<span>3</span>&nbsp;&nbsp;
                    <input type="checkbox" name="Layers" value="4" class="form-control">&nbsp;&nbsp;<span>4</span>&nbsp;&nbsp;
                    <input type="checkbox" name="Layers" value="5" class="form-control">&nbsp;&nbsp;<span>5</span>&nbsp;&nbsp;
                    <input type="checkbox" name="Layers" value="6" class="form-control">&nbsp;&nbsp;<span>6</span>&nbsp;&nbsp;
                    <input type="checkbox" name="Layers" value="7" class="form-control">&nbsp;&nbsp;<span>7</span>&nbsp;&nbsp;
                    <input type="checkbox" name="Layers" value="8" class="form-control">&nbsp;&nbsp;<span>8</span>&nbsp;&nbsp;
                    <input type="checkbox" name="Layers" value="9" class="form-control">&nbsp;&nbsp;<span>9</span>&nbsp;&nbsp;
                    <input type="checkbox" name="Layers" value="10" class="form-control">&nbsp;&nbsp;<span>10</span>&nbsp;&nbsp;
                    <br />
                    <span><strong>Note:</strong> MIKE 21 only has one layer while MIKE 3 can have many. If you see a file ending with .m3fm (MIKE 3) or .m21fm (MIKE 21)</span>
                    <br />
                </div>
                <div class="form-inline">
                    <label>
                        <span>@DocumentViewRes.GoogleEarthPath</span>
                        <button class="jbHelpDocShowDialog btn btn-link" data-dockey="documentmikescenariokmlgoogleearthpath" data-title="@DocumentViewRes.GoogleEarthPath"><span class="glyphicon glyphicon-info-sign"></span></button>
                        <textarea name="GoogleEarthPath" class="form-control"></textarea>
                        <br />
                        <span>EX: </span>
                        <pre>
&lt;?xml version="1.0" encoding="UTF-8" ?&gt;
&lt;kml xmlns="http://... etc...
                        </pre>
                    </label>
                </div>
            }
            break;
        default:
            break;
    }
}