@using CSSPWebTools.Views.Document.Resources;
@using CSSPWebTools.Controllers;
@using CSSPEnumsDLL.Enums;
@using CSSPEnumsDLL.Services;
@using CSSPModelsDLL.Models;

@{
    DocumentController documentController = (DocumentController)ViewBag.DocumentController;
    int ReportTypeID = (int)ViewBag.ReportTypeID;
    int TVItemID = (int)ViewBag.TVItemID;
    int TVFileTVItemID = (int)ViewBag.TVFileTVItemID;
    ReportTypeModel reportTypeModel = (ReportTypeModel)ViewBag.ReportTypeModel;
}

@if (TVFileTVItemID == 0)
{
    <ul class="GenerateReportTopDiv BorderOtherInfrastructure list-unstyled">
        <li>
            <form class="GenerateReport" method="post" role="form" action="Document/DocumentGenerateJSON">
                @Html.AntiForgeryToken()
                <fieldset>
                    <input type="hidden" name="TVItemID" value="@TVItemID" />
                    <input type="hidden" name="ReportTypeID" value="@ReportTypeID" />
                    @Parameters(reportTypeModel.UniqueCode, ReportTypeID, TVItemID)
                    <div class="form-group">
                        <button class="jbDocumentGenerate btn btn-primary" type="submit">
                            <span class="glyphicon glyphicon-check"></span>
                            &nbsp;@DocumentViewRes.GenerateReportWithParameters
                        </button>
                    </div>
                </fieldset>
            </form>
        </li>
    </ul>
}
else
{
    <ul class="list-unstyled">
        <li>
            @Parameters(reportTypeModel.UniqueCode, ReportTypeID, TVItemID)
        </li>
    </ul>
}

@helper Parameters(string UniqueCode, int ReportTypeID, int TVItemID)
{
    switch (UniqueCode)
    {
        case "ProvincialSubsectorsReviewFRXLSX":
        case "ProvincialSubsectorsReviewENXLSX":
            {
                <legend>
                    <span>@DocumentViewRes.Parameters</span>
                    <button class="jbHelpDocShowDialog btn btn-link" data-dockey="documentparametersforprovincialsubsectorsreviewxlsx"
                            data-title="@DocumentViewRes.Parameters @DocumentViewRes.For @DocumentViewRes.ProvincialSubsectorsReview">
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </button>
                </legend>
                <div class="form-inline">
                    <label class="text-nowrap">
                        <span>@DocumentViewRes.ReportYear</span>
                        <button class="jbHelpDocShowDialog btn btn-link" data-dockey="documentfcsummarystatdocxyear"
                                data-title="@DocumentViewRes.FCSummaryStatDocx @DocumentViewRes.ReportYear">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </button>
                        <select name="Year" class="form-control">
                            @for (int i = DateTime.Now.Year; i > 1989; i--)
                            {
                                <option value="@i" @(i == DateTime.Now.Year ? "selected=selected" : "")>@i.ToString()</option>
                            }
                        </select>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    </label>
                </div>
                <p>&nbsp;</p>
                <div class="form-inline">
                    <label class="text-nowrap">
                        <span>@DocumentViewRes.AfterYear</span>
                        <button class="jbHelpDocShowDialog btn btn-link" data-dockey="documentprovincialsubsectorsreviewxlsxafteryear"
                                data-title="@DocumentViewRes.ProvincialSubsectorsReviewXlsx @DocumentViewRes.AfterYear">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </button>
                        <label class="text-nowrap">
                            <input class="form-control" type="number" name="AfterYear" value="2009" />
                        </label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    </label>
                </div>
                <div class="form-inline">
                    <label class="text-nowrap">
                        <span>@DocumentViewRes.NumberOfRuns</span>
                        <button class="jbHelpDocShowDialog btn btn-link" data-dockey="documentprovincialsubsectorsreviewxlsxnumberofruns"
                                data-title="@DocumentViewRes.ProvincialSubsectorsReviewXlsx @DocumentViewRes.NumberOfRuns">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </button>
                        <label class="text-nowrap">
                            <input class="form-control" type="number" name="NumberOfRuns" value="30" />
                        </label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    </label>
                </div>
                <div class="form-inline">
                    <label class="text-nowrap">
                        <button class="jbHelpDocShowDialog btn btn-link" data-dockey="documentprovincialsubsectorsreviewxlsxonlyactivesubsectors"
                                data-title="@DocumentViewRes.ProvincialSubsectorsReviewXlsx @DocumentViewRes.OnlyActiveSubsectors">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </button>
                        <label class="text-nowrap">
                            <input type="checkbox" checked="checked" name="OnlyActiveSubsectors" />
                            <span>&nbsp;&nbsp;@DocumentViewRes.OnlyActiveSubsectors &nbsp;&nbsp;</span>
                        </label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    </label>
                </div>
                <div class="form-inline">
                    <label class="text-nowrap">
                        <button class="jbHelpDocShowDialog btn btn-link" data-dockey="documentprovincialsubsectorsreviewxlsxonlyactivemwqmsites"
                                data-title="@DocumentViewRes.ProvincialSubsectorsReviewXlsx @DocumentViewRes.OnlyActiveMWQMSites">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </button>
                        <label class="text-nowrap">
                            <input type="checkbox" checked="checked" name="OnlyActiveMWQMSites" />
                            <span>&nbsp;&nbsp;@DocumentViewRes.OnlyActiveMWQMSites &nbsp;&nbsp;</span>
                        </label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    </label>
                </div>
                <div class="form-inline">
                    <label class="text-nowrap">
                        <button class="jbHelpDocShowDialog btn btn-link" data-dockey="documentprovincialsubsectorsreviewxlsxfullyear"
                                data-title="@DocumentViewRes.ProvincialSubsectorsReviewXlsx @DocumentViewRes.FullYear">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </button>
                        <label class="text-nowrap">
                            <input type="checkbox" checked="checked" name="FullYear" />
                            <span>&nbsp;&nbsp;@DocumentViewRes.FullYear &nbsp;&nbsp;</span>
                        </label>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    </label>
                </div>
            }
            break;
        default:
            break;
    }
}