@using CSSPWebTools.Views.Document.Resources;
@using CSSPWebTools.Controllers;
@using CSSPEnumsDLL.Enums;
@using CSSPEnumsDLL.Services;
@using CSSPModelsDLL.Models;

@{
    DocumentController documentController = (DocumentController)ViewBag.DocumentController;
    int ReportTypeID = (int)ViewBag.ReportTypeID;
    int TVItemID = (int)ViewBag.TVItemID;
    int TVFileTVItemID = (int)ViewBag.TVFileTVItemID;
    ReportTypeModel reportTypeModel = (ReportTypeModel)ViewBag.ReportTypeModel;
    List<DataPathOfTide> dataPathOfTideList = (List<DataPathOfTide>)ViewBag.DataPathOfTideList;
}

@if (TVFileTVItemID == 0)
{
    <ul class="GenerateReportTopDiv BorderOtherInfrastructure list-unstyled">
        <li>
            <form class="GenerateReport" method="post" role="form" action="Document/DocumentGenerateJSON">
                @Html.AntiForgeryToken()
                <fieldset>
                    <input type="hidden" name="TVItemID" value="@TVItemID" />
                    <input type="hidden" name="ReportTypeID" value="@ReportTypeID" />
                    @Parameters(reportTypeModel.UniqueCode, dataPathOfTideList)
                    <div class="form-group">
                        <button class="jbDocumentGenerate btn btn-primary" type="submit">
                            <span class="glyphicon glyphicon-check"></span>
                            &nbsp;@DocumentViewRes.GenerateReportWithParameters
                        </button>
                    </div>
                </fieldset>
            </form>
        </li>
    </ul>
}
else
{
    <ul class="list-unstyled">
        <li>
            @Parameters(reportTypeModel.UniqueCode, dataPathOfTideList)
        </li>
    </ul>
}

@helper Parameters(string UniqueCode, List<DataPathOfTide> dataPathOfTideList)
{
    switch (UniqueCode)
    {
        case "MunicipalityHighestAndLowestMonthlyTidesFRXLSX":
        case "MunicipalityHighestAndLowestMonthlyTidesENXLSX":
            {
                <legend>
                    <span>@DocumentViewRes.Parameters</span>
                    <button class="jbHelpDocShowDialog btn btn-link" data-dockey="documentparametersformunicipalityhighestandlowestmonthlytidesxlsx" data-title="@DocumentViewRes.Parameters @DocumentViewRes.For @DocumentViewRes.MunicipalityHighestAndLowestMonthlyTides"><span class="glyphicon glyphicon-info-sign"></span></button>
                </legend>
                <div class="form-inline">
                    <label>
                        <span>@DocumentViewRes.WebTideDataSet</span>
                        <button class="jbHelpDocShowDialog btn btn-link" data-dockey="documenthighestandlowestmonthlytidesxlsxwebtidedata" data-title="@DocumentViewRes.WebTideDataSet"><span class="glyphicon glyphicon-info-sign"></span></button>
                        <select name="WebTideDataSet" class="form-control">
                            @foreach (DataPathOfTide dpot in dataPathOfTideList)
                            {
                                <option value="@((int)dpot.WebTideDataSet)">@dpot.Text</option>
                            }
                        </select>
                    </label>
                </div>
                <div class="form-inline">
                    <label>
                        <span>@DocumentViewRes.Year</span>
                        <button class="jbHelpDocShowDialog btn btn-link" data-dockey="documenthighestandlowestmonthlytidesxlsxyear" data-title="@DocumentViewRes.Year"><span class="glyphicon glyphicon-info-sign"></span></button>
                        <select name="Year" class="form-control">
                            @for (int i = DateTime.Now.Year; i > 1989; i--)
                            {
                                <option value="@i" @(i == DateTime.Now.Year ? "selected=selected" : "")>@i.ToString()</option>
                            }
                        </select>
                    </label>
                </div>
                <div class="form-inline">
                    <label>
                        <span>@DocumentViewRes.Latitude</span>
                        <button class="jbHelpDocShowDialog btn btn-link" data-dockey="documenthighestandlowestmonthlytidesxlsxlatitude" data-title="@DocumentViewRes.Latitude"><span class="glyphicon glyphicon-info-sign"></span></button>
                        <input name="Lat" class="form-control">
                    </label>
                </div>
                <div class="form-inline">
                    <label>
                        <span>@DocumentViewRes.Longitude</span>
                        <button class="jbHelpDocShowDialog btn btn-link" data-dockey="documenthighestandlowestmonthlytidesxlsxlongitude" data-title="@DocumentViewRes.Longitude"><span class="glyphicon glyphicon-info-sign"></span></button>
                        <input name="Lng" class="form-control">
                    </label>
                </div>
            }
            break;
        default:
            break;
    }
}
