@using CSSPWebTools.Views.Document.Resources;
@using CSSPWebTools.Controllers;
@using CSSPEnumsDLL.Enums;
@using CSSPEnumsDLL.Services;
@using CSSPModelsDLL.Models;

@{
    DocumentController documentController = (DocumentController)ViewBag.DocumentController;
    int ReportTypeID = (int)ViewBag.ReportTypeID;
    int TVItemID = (int)ViewBag.TVItemID;
    int TVFileTVItemID = (int)ViewBag.TVFileTVItemID;
    ReportTypeModel reportTypeModel = (ReportTypeModel)ViewBag.ReportTypeModel;
}

@if (TVFileTVItemID == 0)
{
    <ul class="GenerateReportTopDiv BorderOtherInfrastructure list-unstyled">
        <li>
            <form class="GenerateReport" method="post" role="form" action="Document/DocumentGenerateJSON">
                @Html.AntiForgeryToken()
                <fieldset>
                    <input type="hidden" name="TVItemID" value="@TVItemID" />
                    <input type="hidden" name="ReportTypeID" value="@ReportTypeID" />
                    @Parameters(reportTypeModel.UniqueCode)
                    <div class="form-group">
                        <button class="jbDocumentGenerate btn btn-primary" type="submit">
                            <span class="glyphicon glyphicon-check"></span>
                            &nbsp;@DocumentViewRes.GenerateReportWithParameters
                        </button>
                    </div>
                </fieldset>
            </form>
        </li>
    </ul>
}
else
{
    <ul class="list-unstyled">
        <li>
            @Parameters(reportTypeModel.UniqueCode)
        </li>
    </ul>
}

@helper Parameters(string UniqueCode)
{
    switch (UniqueCode)
    {
        case "StatRSectorFRXLSX":
        case "StatRSectorENXLSX":
            {
                <legend>
                    <span>@DocumentViewRes.Parameters</span>
                    <button class="jbHelpDocShowDialog btn btn-link" data-dockey="documentparametersforstatsectorxlsx"
                            data-title="@DocumentViewRes.Parameters @DocumentViewRes.For aaaaaaaa">
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </button>
                </legend>
                <div class="form-inline">
                    <label>
                        <span>TheYear</span>
                        <button class="jbHelpDocShowDialog btn btn-link" data-dockey="documentstatsectorxlsxyear" data-title="Year"><span class="glyphicon glyphicon-info-sign"></span></button>
                        <select name="Year" class="form-control">
                            @for (int i = 1980; i < DateTime.Now.Year + 1; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </label>
                </div>
            }
            break;
        default:
            break;
    }