@using CSSPWebTools.Views.Email.Resources;
@using CSSPDBDLL.Services;
@using CSSPWebTools.Controllers;
@using CSSPEnumsDLL.Enums;
@using CSSPEnumsDLL.Services;
@using CSSPModelsDLL.Models;

@{
    ContactModel contactModel = (ContactModel)ViewBag.ContactModel;
    List<EmailModel> emailModelList = (List<EmailModel>)ViewBag.EmailModelList;
    EmailController emailController = (EmailController)ViewBag.EmailController;
    EmailService emailService = (EmailService)ViewBag.EmailService;
    BaseEnumService _BaseEnumService = new BaseEnumService(ViewBag.Language);
}

<div id="contentEmail" class="paraBlock">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="#EmailGroup" data-toggle="collapse" aria-expanded="false" aria-controls="EmailGroup">
                    <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;@EmailViewRes.Emails
                </a>
            </h4>
        </div>
        <div class="panel-body collapse" id="EmailGroup">
            @foreach (EmailModel emailModel in emailModelList)
            {
                <div class="EmailItemTop " data-contacttvitemid="@contactModel.ContactTVItemID" data-emailtvitemid="@emailModel.EmailTVItemID">
                    <form method="post" class="EmailEditForm " role="form" action="Email/EmailSaveJSON">
                        @Html.AntiForgeryToken()
                        <fieldset>
                            <input type="hidden" name="ContactTVItemID" value="@contactModel.ContactTVItemID" />
                            <input type="hidden" name="EmailTVItemID" value="@emailModel.EmailTVItemID" />
                            <ul class="list-inline">
                                <li>
                                    <div class="form-group">
                                        <label class="sr-only" for="TVText">@EmailViewRes.EmailType</label>
                                        <div>
                                            <select class="form-control" name="EmailType" title="@EmailViewRes.EmailType">
                                                @foreach (EmailTypeEnumTextOrdered emailTypeEnumTextOrdered in _BaseEnumService.GetEmailTypeEnumTextOrderedList())
                                                {
                                                    <option value="@((int)emailTypeEnumTextOrdered.EmailType)" @(emailTypeEnumTextOrdered.EmailType == emailModel.EmailType ? @"selected=""selected""" : "")>@(emailTypeEnumTextOrdered.EmailTypeText)</option>
                                                }
                                            </select>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <label class="sr-only" for="TVText">@EmailViewRes.EmailAddress</label>
                                        <div>
                                            <input class="form-control"
                                                   name="EmailAddress" placeholder="ex: yourEmailName@CompanyName.abc" title="@EmailViewRes.EmailAddress" autocomplete="off" type="text" value="@emailModel.EmailAddress" />
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <button class="jbEmailUpdate btn btn-primary" type="submit" title="@EmailViewRes.Save">
                                        <span class="glyphicon glyphicon-check"></span><span class="sr-only">@EmailViewRes.Save</span>
                                    </button>

                                    <button class="jbEmailDelete btn btn-default" title="@EmailViewRes.Delete">
                                        <span class="glyphicon glyphicon-trash"></span><span class="sr-only">@EmailViewRes.Delete</span>
                                    </button>

                                    <button class="jbEmailAdd hidden btn btn-success" type="submit" title="@EmailViewRes.Add">
                                        <span class="glyphicon glyphicon-plus-sign"></span><span class="sr-only">@EmailViewRes.Add</span>
                                    </button>
                                </li>
                            </ul>
                        </fieldset>
                    </form>
                </div>
            }
            <div class="EmailItemTop" data-contacttvitemid="@contactModel.ContactTVItemID" data-emailtvitemid="0">
                <form method="post" class="EmailEditForm form-horizontal" role="form" action="Email/EmailSaveJSON">
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <input type="hidden" name="ContactTVItemID" value="@contactModel.ContactTVItemID" />
                        <input type="hidden" name="EmailTVItemID" value="0" />
                        <ul class="list-inline">
                            <li>
                                <div class="form-group">
                                    <label class="sr-only" for="EmailType">@EmailViewRes.EmailType</label>
                                    <div>
                                        <select class="form-control btn btn-default" name="EmailType" title="@EmailViewRes.EmailType">
                                            @foreach (EmailTypeEnumTextOrdered emailTypeEnumTextOrdered in _BaseEnumService.GetEmailTypeEnumTextOrderedList())
                                            {
                                                <option value="@((int)emailTypeEnumTextOrdered.EmailType)" @(((int)emailTypeEnumTextOrdered.EmailType) == 1 ? @"selected=""selected""" : "")>@(emailTypeEnumTextOrdered.EmailTypeText)</option>
                                            }
                                        </select>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <label class="sr-only" for="EmailAddress">@EmailViewRes.EmailAddress</label>
                                    <div>
                                        <input class="form-control btn btn-default" name="EmailAddress" placeholder="ex: yourEmailName@CompanyName.abc" title="@EmailViewRes.EmailAddress" autocomplete="off" type="text" value="" />
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <button class="jbEmailUpdate hidden btn btn-primary" type="submit" title="@EmailViewRes.Save">
                                    <span class="glyphicon glyphicon-check"></span><span class="sr-only">@EmailViewRes.Save</span>
                                </button>

                                <button href="#" class="jbEmailDelete hidden btn btn-default" title="@EmailViewRes.Delete">
                                    <span class="glyphicon glyphicon-trash"></span><span class="sr-only">@EmailViewRes.Delete</span>
                                </button>

                                <button href="#" class="jbEmailAdd btn btn-success" type="submit" title="@EmailViewRes.Add">
                                    <span class="glyphicon glyphicon-plus-sign"></span><span class="sr-only">@EmailViewRes.Add</span>
                                </button>
                            </li>
                        </ul>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            cssp.Email.Init();
        })
    </script>

</div>
