@using CSSPWebTools.Views.Shared.Resources;
@using CSSPWebTools.Views.MikeScenario.Resources;
@using CSSPModelsDLL.Models;

@{
    List<MikeSourceStartEndModel> mikeSourceStartEndModelList = (List<MikeSourceStartEndModel>)ViewBag.MikeSourceStartEndModelList;
    int MikeSourceTVItemID = (int)ViewBag.MikeSourceTVItemID;

    int CountEff = 0;
}

<div class="MikeSourceStartEndsDiv container-fluid">
    @foreach (MikeSourceStartEndModel mikeSourceStartEndModel in mikeSourceStartEndModelList)
    {
        var SourceFlowStart_m3_s = mikeSourceStartEndModel.SourceFlowStart_m3_day / 3600 / 24;
        var SourceFlowEnd_m3_s = mikeSourceStartEndModel.SourceFlowEnd_m3_day / 3600 / 24;

        DateTime TempStartDate = (DateTime)mikeSourceStartEndModel.StartDateAndTime_Local;
        DateTime TempEndDate = (DateTime)mikeSourceStartEndModel.EndDateAndTime_Local;

        CountEff += 1;
        <div class="MikeSourceStartEndDiv blockMargin" data-mikesourcestartendid="@mikeSourceStartEndModel.MikeSourceStartEndID">
            <h4>@MikeScenarioViewRes.Effluent (@CountEff)</h4>
            <table class="table table-striped">
                <tr>
                    <th>&nbsp;</th>
                    <th>
                        <h4>@MikeScenarioViewRes.Start</h4>
                    </th>
                    <th><h4>@MikeScenarioViewRes.End</h4></th>
                </tr>
                <tr>
                    <th>@MikeScenarioViewRes.Date</th>
                    <td>
                        <span>@TempStartDate.ToString("f")</span>
                    </td>
                    <td>
                        <span>@TempEndDate.ToString("f")</span>
                    </td>
                </tr>
                <tr>
                    <th>
                        @MikeScenarioViewRes.Flow (@Html.Raw(UnitViewRes.m3PerDay))
                    </th>
                    <td>
                        <span>@string.Format("{0:F2}", mikeSourceStartEndModel.SourceFlowStart_m3_day)</span>
                    </td>
                    <td>
                        <span>@string.Format("{0:F2}", mikeSourceStartEndModel.SourceFlowEnd_m3_day)</span>
                    </td>
                </tr>
                <tr>
                    <th>
                        @MikeScenarioViewRes.Flow <span>(@Html.Raw(UnitViewRes.m3PerSecond))</span>
                    </th>
                    <td>
                        <span>@string.Format("{0:F6}", SourceFlowStart_m3_s)</span>
                    </td>
                    <td>
                        <span>@string.Format("{0:F6}", SourceFlowEnd_m3_s)</span>
                    </td>
                </tr>
                <tr>
                    <th>
                        @MikeScenarioViewRes.FecalColiform (@Html.Raw(UnitViewRes.MPN_Per100ml_abr))
                    </th>
                    <td>
                        <span>@string.Format("{0:F0}", mikeSourceStartEndModel.SourcePollutionStart_MPN_100ml)</span>
                    </td>
                    <td>
                        <span>@string.Format("{0:F0}", mikeSourceStartEndModel.SourcePollutionEnd_MPN_100ml)</span>
                    </td>
                </tr>
                <tr>
                    <th>
                        @MikeScenarioViewRes.Temperature (@Html.Raw(UnitViewRes.Celcius_abbr))
                    </th>
                    <td>
                        <span>@string.Format("{0:F1}", mikeSourceStartEndModel.SourceTemperatureStart_C)</span>
                    </td>
                    <td>
                        <span>@string.Format("{0:F1}", mikeSourceStartEndModel.SourceTemperatureEnd_C)</span>
                    </td>
                </tr>
                <tr>
                    <th>
                        @MikeScenarioViewRes.Salinity (@Html.Raw(UnitViewRes.PSU))
                    </th>
                    <td>
                        <span>@string.Format("{0:F1}", mikeSourceStartEndModel.SourceSalinityStart_PSU)</span>
                    </td>
                    <td>
                        <span>@string.Format("{0:F1}", mikeSourceStartEndModel.SourceSalinityEnd_PSU)</span>
                    </td>
                </tr>
            </table>
        </div>
    }
</div>