@using CSSPWebTools.Models;
@using CSSPWebTools.Views.MikeScenario.Resources;
@using CSSPEnumsDLL.Enums;
@using CSSPModelsDLL.Models;
@using CSSPWebTools.Views.Shared.Resources;

@{
    List<HydrometricDataValueModel> hydrometricDataValueModelList = (List<HydrometricDataValueModel>)ViewBag.HydrometricDataValueModelList;
    List<HydrometricDataValueModel> hydrometricDataValueModelSourceCalculatedList = (List<HydrometricDataValueModel>)ViewBag.HydrometricDataValueModelSourceCalculatedList;
    HydrometricSiteModel hydrometricSiteModel = (HydrometricSiteModel)ViewBag.HydrometricSiteModel;
    MWQMRunModel mwqmRunModel = (MWQMRunModel)ViewBag.MWQMRunModel;
    MikeSourceModel mikeSourceModel = (MikeSourceModel)ViewBag.MikeSourceModel;
    MikeScenarioModel mikeScenarioModel = (MikeScenarioModel)ViewBag.MikeScenarioModel;
    AppTaskModel appTaskModel = (AppTaskModel)ViewBag.AppTaskModel;

    string href = "https://wateroffice.ec.gc.ca/report/historical_e.html?stn=" + hydrometricSiteModel.FedSiteNumber + "&mode=Table&type=h2oArc&results_type=historical&dataType=Daily&parameterType=Flow&year=" + mwqmRunModel.DateTime_Local.Year.ToString();
}

@if (hydrometricDataValueModelList == null || hydrometricDataValueModelList.Count == 0)
{
    <h4>@MikeScenarioViewRes.HydrometricDataNotYetLoadedForRun</h4>
    <button class="jbMikeScenarioLoadHydrometricData btn btn-default"
            data-mikesourcetvitemid="@mikeSourceModel.MikeSourceTVItemID"
            data-mikescenariotvitemid="@mikeScenarioModel.MikeScenarioTVItemID">
        @MikeScenarioViewRes.LoadHydrometricData
    </button>
    if (appTaskModel != null)
    {
        <div class="MikeScenarioLoadHydrometricDataWorkingDiv">
            <button class="jbMikeScenarioLoadHydrometricDataRefresh btn btn-default">
                @MikeScenarioViewRes.Refresh (@appTaskModel.PercentCompleted %)
            </button>
        </div>
    }
}

<h3>@hydrometricSiteModel.HydrometricSiteTVText</h3>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>@MikeScenarioViewRes.Date</th>
            <th>
                <a href="@href" target="_blank">
                    <span class="glyphicon glyphicon-export"></span>
                    &nbsp;&nbsp;@MikeScenarioViewRes.HydrometricSite
                </a>
                (@Html.Raw(UnitViewRes.m3PerSecond)) [@Html.Raw(UnitViewRes.m3PerDay)]
            </th>
            <th>@MikeScenarioViewRes.River (@Html.Raw(UnitViewRes.m3PerSecond)) [@Html.Raw(UnitViewRes.m3PerDay)]</th>
        </tr>
    </thead>
    <tbody>
        @if (hydrometricDataValueModelList == null || hydrometricDataValueModelList.Count == 0)
        {
            <tr>
                <td colspan="3">@MikeScenarioViewRes.NoData</td>
            </tr>
        }
        else
        {
            for (int i = 0, count = hydrometricDataValueModelList.Count; i < count; i++)
            {
                <tr @(mwqmRunModel.DateTime_Local.Day == hydrometricDataValueModelList[i].DateTime_Local.Day ? "class=success" : "")>
                    <td>@hydrometricDataValueModelList[i].DateTime_Local.ToString("yyyy MMMM dd")</td>
                    <td>@(((double)hydrometricDataValueModelList[i].Discharge_m3_s).ToString("F3")) [@(((double)hydrometricDataValueModelList[i].Discharge_m3_s*3600*24).ToString("F0"))]</td>
                    <td>@(((double)hydrometricDataValueModelSourceCalculatedList[i].Discharge_m3_s).ToString("F3")) [@(((double)hydrometricDataValueModelSourceCalculatedList[i].Discharge_m3_s*3600*24).ToString("F0"))]</td>
                </tr>
            }
        }
    </tbody>
</table>
