@using CSSPWebTools.Views.MikeScenario.Resources;

@{
    int MikeScenarioTVItemID = (int)ViewBag.MikeScenarioTVItemID;
}
<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                @MikeScenarioViewRes.AddNewSource
                <button class="jbHelpDocShowDialog btn btn-link" data-dockey="mikescenarioaddnewsource" data-title="@MikeScenarioViewRes.AddNewSource"><span class="glyphicon glyphicon-info-sign"></span></button>
            </h4>
        </div>
        <div class="panel-body">
            <form class="MikeScenarioSourceAddOrModifyForm" action="MikeScenario/MikeScenarioSourceAddOrModifyJSON" method="post">
                <input type="hidden" name="MikeScenarioTVItemID" value="@MikeScenarioTVItemID" />
                <input type="hidden" name="MikeSourceTVItemID" value="0" />
                <div class="form-group">
                    <label class="control-label">
                        @MikeScenarioViewRes.SourceName
                        <button class="jbHelpDocShowDialog btn btn-link" data-dockey="mikescenariosourcename" data-title="@MikeScenarioViewRes.SourceName"><span class="glyphicon glyphicon-info-sign"></span></button>
                    </label>
                    <div>
                        <input class="form-control" type="text" name="SourceName" value="" />
                        <span class="help-block"></span>
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label>
                            <button class="jbHelpDocShowDialog btn btn-link" data-dockey="mikescenarioincludeisriveriscontinuoususehydrometric" data-title="@MikeScenarioViewRes.Include @MikeScenarioViewRes.IsRiver @MikeScenarioViewRes.IsContinuous @MikeScenarioViewRes.UseHydrometric"><span class="glyphicon glyphicon-info-sign"></span></button>
                        </label>
                        <label for="Include" class="checkbox-inline">
                            <input type="checkbox" name="Include" id="Include" />@MikeScenarioViewRes.Include
                        </label>
                        <label for="IsRiver" class="checkbox-inline">
                            <input type="checkbox" name="IsRiver" id="IsRiver" />@MikeScenarioViewRes.IsRiver
                        </label>
                        <label for="IsContinuous" class="checkbox-inline">
                            <input type="checkbox" name="IsContinuous" id="IsContinuous" />@MikeScenarioViewRes.IsContinuous
                        </label>
                    </div>
                    <div>
                        <label>
                            @MikeScenarioViewRes.YouWillNeedToSaveItFirstBeforeBeingAbleToSelect [@MikeScenarioViewRes.UseHydrometric]
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            @MikeScenarioViewRes.Latitude
                            <button class="jbHelpDocShowDialog btn btn-link" data-dockey="mikescenariolatitude" data-title="@MikeScenarioViewRes.Latitude"><span class="glyphicon glyphicon-info-sign"></span></button>
                        </label>
                        <input class="isnumber form-control" type="text" name="Lat" value="" />
                        <span class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            @MikeScenarioViewRes.Longitude
                            <button class="jbHelpDocShowDialog btn btn-link" data-dockey="mikescenariolongitude" data-title="@MikeScenarioViewRes.Longitude"><span class="glyphicon glyphicon-info-sign"></span></button>
                        </label>
                        <input class="isnumber form-control" type="text" name="Lng" value="" />
                        <span class="help-block"></span>
                    </div>
                </div>
                <div>
                    <button class="jbMikeScenarioSourceEditAdd btn btn-primary" type="submit" href="#">
                        <span class="glyphicon glyphicon-check"></span>
                        &nbsp;&nbsp;@MikeScenarioViewRes.AddSource
                    </button>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            cssp.MikeScenario.InitMikeScenarioSource();
        });
    </script>
</div>