@using CSSPWebTools.Views.ProvinceTools.Resources;
@using CSSPWebTools.Controllers;
@using CSSPEnumsDLL.Enums;
@using CSSPEnumsDLL.Services;
@using CSSPModelsDLL.Models;
@using System.Linq;

@{
    int ProvinceTVItemID = (int)ViewBag.ProvinceTVItemID;
    TVFileModel tvFileModelClassificationPolygons = (TVFileModel)ViewBag.TVFileModelClassificationPolygons;
    TVFileModel tvFileModelClassificationInputs = (TVFileModel)ViewBag.TVFileModelClassificationInputs;
}

<div class="ProvinceToolsTopDiv">
    <div class="AppTaskDiv">
        @Html.Action("_appTask", "Home", new { TVItemID = ProvinceTVItemID, Seconds = 5 })
    </div>
    <div class="panel-group" id="ProvinceToolsAccordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-info">
            <div class="panel-heading" role="tab" id="headingClimateData">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#ProvinceToolsAccordion" href="#ClimateDataCollapse" aria-expanded="true" aria-controls="ClimateDataCollapse">
                        @ProvinceToolsViewRes.ClimateSitePrecipitationRelatedTools
                    </a>
                </h4>
            </div>
            <div id="ClimateDataCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingClimateData">
                <div class="ProvinceToolsClimateSiteDiv panel-body">
                    <div class="h4">@ProvinceToolsViewRes.SomeOfTheseTasksCanTakeALongTime</div>
                    <select class="form-control" name="Year">
                        @for (int year = DateTime.Now.Year; year > 1979; year--)
                        {
                            <option value="@year">@year</option>
                        }
                    </select>
                    <p></p>
                    <button class="jbProvinceToolsGetAllPrecipitationForYear btn btn-primary" data-provincetvitemid="@ProvinceTVItemID">
                        @ProvinceToolsViewRes.GetAllPrecipitationForYear
                        <span class="working hidden">
                            @ProvinceToolsViewRes.Working...
                            <span class="percent"></span>
                        </span>
                    </button>
                    <p></p>
                    <button class="jbProvinceToolsFillRunPrecipByClimateSitePriorityForYear btn btn-primary" data-provincetvitemid="@ProvinceTVItemID">
                        @ProvinceToolsViewRes.FillRunPrecipByClimateSitePriorityForYear
                        <span class="working hidden">
                            @ProvinceToolsViewRes.Working...
                            <span class="percent"></span>
                        </span>
                    </button>
                    <p></p>
                    <button class="jbProvinceToolsFindMissingPrecipForProvince btn btn-primary" data-provincetvitemid="@ProvinceTVItemID">
                        @ProvinceToolsViewRes.FindMissingPrecipForProvince
                        <span class="working hidden">
                            @ProvinceToolsViewRes.Working...
                            <span class="percent"></span>
                        </span>
                    </button>
                    <span>@ProvinceToolsViewRes.ADocumentWillBeCreatedShowingTheMissingPrecip</span>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading" role="tab" id="headingHydrometricData">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#ProvinceToolsAccordion" href="#HydrometricDataCollapse" aria-expanded="true" aria-controls="HydrometricDataCollapse">
                        @ProvinceToolsViewRes.HydrometricSiteDischargeRelatedTools
                    </a>
                </h4>
            </div>
            <div id="HydrometricDataCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingHydrometricData">
                <div class="ProvinceToolsHydrometricSiteDiv panel-body">
                    <div class="h4">@ProvinceToolsViewRes.SomeOfTheseTasksCanTakeALongTime</div>
                    <select class="form-control" name="Year">
                        @for (int year = DateTime.Now.Year; year > 1979; year--)
                        {
                            <option value="@year">@year</option>
                        }
                    </select>
                    <p></p>
                    <button class="jbProvinceToolsGetAllDischargeForYear btn btn-primary" data-provincetvitemid="@ProvinceTVItemID">
                        @ProvinceToolsViewRes.GetAllDischargeForYear
                        <span class="working hidden">
                            @ProvinceToolsViewRes.Working...
                            <span class="percent"></span>
                        </span>
                    </button>
                    <p></p>
                    <button class="jbProvinceToolsFillRunDischargeByHydrometricSitePriorityForYear btn btn-primary" data-provincetvitemid="@ProvinceTVItemID">
                        @ProvinceToolsViewRes.FillRunDischargeByHydrometricSitePriorityForYear
                        <span class="working hidden">
                            @ProvinceToolsViewRes.Working...
                            <span class="percent"></span>
                        </span>
                    </button>
                    <p></p>
                    <button class="jbProvinceToolsFindMissingDischargeForProvince btn btn-primary" data-provincetvitemid="@ProvinceTVItemID">
                        @ProvinceToolsViewRes.FindMissingDischargeForProvince
                        <span class="working hidden">
                            @ProvinceToolsViewRes.Working...
                            <span class="percent"></span>
                        </span>
                    </button>
                    <span>@ProvinceToolsViewRes.ADocumentWillBeCreatedShowingTheMissingDischarge</span>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading" role="tab" id="headingClassification">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#ProvinceToolsAccordion" href="#ClassificationCollapse" aria-expanded="true" aria-controls="ClassificationCollapse">
                        @ProvinceToolsViewRes.ClassificationRelatedTools
                    </a>
                </h4>
            </div>
            <div id="ClassificationCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingClassification">
                <div class="ProvinceToolsClassificationDiv panel-body">
                    @Html.Action("_ClassificationTool", "ProvinceTools", new { ProvinceTVItemID = ProvinceTVItemID })
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading" role="tab" id="headingMWQMSitePolSourceSiteGrouping">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#ProvinceToolsAccordion" href="#MWQMSitePolSourceSiteGroupingCollapse" aria-expanded="true" aria-controls="MWQMSitePolSourceSiteGroupingCollapse">
                        @ProvinceToolsViewRes.MWQMSitePolSourceSiteGroupingRelatedTools
                    </a>
                </h4>
            </div>
            <div id="MWQMSitePolSourceSiteGroupingCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingMWQMSitePolSourceSiteGrouping">
                <div class="ProvinceToolsMWQMSitePolSourceSiteGroupingDiv panel-body">
                    @Html.Action("_MWQMSitePolSourceSiteGroupingTool", "ProvinceTools", new { ProvinceTVItemID = ProvinceTVItemID })
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading" role="tab" id="headingPlaceholder">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#ProvinceToolsAccordion" href="#PlaceholderCollapse" aria-expanded="false" aria-controls="PlaceholderCollapse">
                        @ProvinceToolsViewRes.PlaceholderForMore
                    </a>
                </h4>
            </div>
            <div id="PlaceholderCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingPlaceholder">
                <div class="panel-body">
                    More buttons here
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        //cssp.ProvinceTools.ProvinceToolsInit();
    });
</script>