@using CSSPWebTools.Views.File.Resources;
@using CSSPWebTools.Controllers;
@using CSSPEnumsDLL.Enums;
@using CSSPEnumsDLL.Services;
@using CSSPModelsDLL.Models;

@{
    FileController fileController = (FileController)ViewBag.FileController;
    TVItemModel tvItemModel = (TVItemModel)ViewBag.TVItemModel;
    List<DocTemplateModel> docTemplateModelList = (List<DocTemplateModel>)ViewBag.DocTemplateModelList;
    BaseEnumService _BaseEnumService = new BaseEnumService(ViewBag.Language);
}

<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">@FileViewRes.CreateDocumentUsingParameters</h4>
    </div>
    <div class="panel-body">
        <div>
            <button class="jbFileShowOrHideTagList btn btn-default">@FileViewRes.ShowOrHideTagList</button>
            <div class="TagListDiv hidden">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                @FileViewRes.Tag
                            </th>
                            <th>
                                @FileViewRes.Implemented
                            </th>
                            <th>
                                @FileViewRes.Description
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Content General
                            </td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>|||TABLE_OF_CONTENT|||</td>
                            <td>Yes</td>
                            <td>Yes	Will create a table of content in Word (All H1 to H6 will be inserted in the ToC)</td>
                        </tr>
                        <tr>
                            <td>|||LIST_OF_FIGURES|||</td>
                            <td>Yes</td>
                            <td>Yes	Will create a list of figures from the figures caption found in the document</td>
                        </tr>
                        <tr>
                            <td>|||LIST_OF_TABLES|||</td>
                            <td>Yes</td>
                            <td>Yes	Will create a list of tables from the tables caption found in the document</td>
                        </tr>
                        <tr>
                            <td>|||LIST_OF_APPENDICES|||</td>
                            <td>No</td>
                            <td>Will create a list of appendices from the appendices in the document (should this be removed?)</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Content Subsector</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>|||SUBSECTOR_RE_EVALUATION_COVER_PAGE|||</td>
                            <td>Yes</td>
                            <td>Yes	Will create the cover page of the full report/re-evaluation report</td>
                        </tr>
                        <tr>
                            <td>|||SUBSECTOR_FC_SUMMARY_STAT_ALL|||</td>
                            <td>Yes</td>
                            <td>Will create the FC Summary statistics with all runs (wet or dry) with the exception of anything you would have identified to be removed for stat calculation (red run date in analysis)</td>
                        </tr>
                        <tr>
                            <td>|||SUBSECTOR_FC_SUMMARY_STAT_WET|||</td>
                            <td>Yes</td>
                            <td>Will create the FC Summary statistics with all wet runs</td>
                        </tr>
                        <tr>
                            <td>|||SUBSECTOR_FC_SUMMARY_STAT_DRY|||</td>
                            <td>Yes</td>
                            <td>Will create the FC Summary statistics with all dry runs</td>
                        </tr>
                        <tr>
                            <td>|||SUBSECTOR_MWQM_SITES_DATA_AVAILABILITY|||</td>
                            <td>Yes</td>
                            <td>Will create a table showing the availability of data by year</td>
                        </tr>
                        <tr>
                            <td>|||SUBSECTOR_MWQM_SITES_NUMBER_OF_SITES_BY_YEAR|||</td>
                            <td>Yes</td>
                            <td>Will create a graphic showing the number of sites monitored by year</td>
                        </tr>
                        <tr>
                            <td>|||SUBSECTOR_MWQM_SITES_NUMBER_OF_RUNS_BY_YEAR|||</td>
                            <td>Yes</td>
                            <td>Will create a graphic showing the number of runs by year</td>
                        </tr>
                        <tr>
                            <td>|||SUBSECTOR_MWQM_SITES_NUMBER_OF_SAMPLES_BY_YEAR|||</td>
                            <td>Yes</td>
                            <td>Will create a graphic showinig the number of samples analyzed by year</td>
                        </tr>
                        <tr>
                            <td>|||SUBSECTOR_MWQM_SITES_FC_TABLE|||</td>
                            <td>Yes</td>
                            <td>Will create a table showing all the FC data (this tag needs to be below all the |||SUBSECTOR_FC_SUMMARY_STAT_(ALL,WET,DRY)||| to work properly)</td>
                        </tr>
                        <tr>
                            <td>|||SUBSECTOR_MWQM_SITES_SALINITY_TABLE|||</td>
                            <td>Yes</td>
                            <td>Will create a table showing all the salinity data (this tag needs to be below all the |||SUBSECTOR_FC_SUMMARY_STAT_(ALL,WET,DRY)||| to work properly)</td>
                        </tr>
                        <tr>
                            <td>|||SUBSECTOR_MWQM_SITES_TEMPERATURE_TABLE|||</td>
                            <td>Yes</td>
                            <td>Will create a table showing all the temperature data (this tag needs to be below all the |||SUBSECTOR_FC_SUMMARY_STAT_(ALL,WET,DRY)||| to work properly)</td>
                        </tr>
                        <tr>
                            <td>|||SUBSECTOR_POLLUTION_SOURCE_SITES|||</td>
                            <td>Yes need to subdivide</td>
                            <td>Will create some documentation for MWQM Pollution source sites (need to be subdivided more)</td>
                        </tr>
                        <tr>
                            <td>|||SUBSECTOR_POLLUTION_SOURCE_SITES_COMPACT|||</td>
                            <td>Yes</td>
                            <td>Will create some documentation for MWQM Pollution source sites compact</td>
                        </tr>
                        <tr>
                            <td>|||SUBSECTOR_MUNICIPALITIES_COMPACT|||</td>
                            <td>No</td>
                            <td>Will create some documentation showing each municipality and infrastructure hierarchy (only basic info)</td>
                        </tr>
                        <tr>
                            <td>|||SUBSECTOR_MUNICIPALITIES_FULL|||</td>
                            <td>No</td>
                            <td>Will create some documentation showing each municipality and infrastructure hierarchy (full info) which include Contacts, each infrastructure detail info, outfall info, comments</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Content Subsector Municipality</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>|||SUBSECTOR_MUNICIPALITY_INFRASTRUCTURE_MAP|||</td>
                            <td>No</td>
                            <td>Will insert a graph placeholder or get an existing graph from CSSPWebTools Named: [{MunicipalityName}_Infrastructure_Map_{year}.png] and saved under Files of the Subsector</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Formating</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>|||PAGE_BREAK|||</td>
                            <td>Yes</td>
                            <td>Will insert a page break in the word document ex: it's like pressing ctrl+ENTER in Word</td>
                        </tr>
                        <tr>
                            <td>|||LANDSCAPE|||</td>
                            <td>Yes</td>
                            <td>Will change the page layout to landscape</td>
                        </tr>
                        <tr>
                            <td>|||PORTRAIT|||</td>
                            <td>Yes</td>
                            <td>Will change the page layout to portrait</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Variables</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>|||SUBSECTOR_NAME_SHORT|||</td>
                            <td>Yes</td>
                            <td>Will insert the short name of the subsector ex: NS-01-010-001</td>
                        </tr>
                        <tr>
                            <td>|||SUBSECTOR_NAME_LONG|||</td>
                            <td>Yes</td>
                            <td>Will insert the short name of the subsector ex: NS-01-010-001</td>
                        </tr>
                        <tr>
                            <td>|||SUBSECTOR_NAME_TEXT|||</td>
                            <td>Yes</td>
                            <td>Will insert the long name of the subsector ex: Baie Verte</td>
                        </tr>
                        <tr>
                            <td>|||PROVINCE_NAME|||</td>
                            <td>Yes</td>
                            <td>Will insert the full province name ex: Nova Scotia</td>
                        </tr>
                        <tr>
                            <td>|||PROVINCE_INITIAL|||</td>
                            <td>Yes</td>
                            <td>Will insert the initial of the province name ex: NS</td>
                        </tr>
                        <tr>
                            <td>|||MUNICIPALITY_NAME|||</td>
                            <td>Yes</td>
                            <td>Will insert the municipality name ex: Bouctouche</td>
                        </tr>
                        <tr>
                            <td>|||STATISTICS_LAST_YEAR|||</td>
                            <td>Yes</td>
                            <td>Will insert the year of the report</td>
                        </tr>
                        <tr>
                            <td>|||NL_AUTHORS|||</td>
                            <td>Yes</td>
                            <td>D. Curtis, G. Perchard, M. Glavine</td>
                        </tr>
                        <tr>
                            <td>|||NB_AUTHORS|||</td>
                            <td>Yes</td>
                            <td>B. Richard, P. Godin, K. Martell, J. Pomeroy, C. LeBlanc, J.A. Richard</td>
                        </tr>
                        <tr>
                            <td>|||NS_AUTHORS|||</td>
                            <td>Yes</td>
                            <td>D. MacArthur, L. Pothier, R. Alexanders, P. Densmore</td>
                        </tr>
                        <tr>
                            <td>|||PE_AUTHORS|||</td>
                            <td>Yes</td>
                            <td>D. MacArthur, L. Pothier, R. Alexanders</td>
                        </tr>
                        <tr>
                            <td>|||STATISTICS_PERIOD|||</td>
                            <td>Yes</td>
                            <td>Will show the report period start and end year EX: 2019 - 2002</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Other</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>|||SUBSECTOR_ECCC_AND_SWCP_LOGO|||</td>
                            <td>Yes</td>
                            <td>Will insert ECCC and SWCP logo</td>
                        </tr>
                        <tr>
                            <td>|||SUBSECTOR_CSSP_LOGO|||</td>
                            <td>Yes</td>
                            <td>Will insert CSSP logo</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Maps</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>|||SUBSECTOR_LOCATION_OF_SURVEY_AREA_MAP|||</td>
                            <td>Yes</td>
                            <td>Will insert a draft map or get an existing map from CSSPWebTools Named: [{subsector}_Location_of_Survey_Area_Map_{year}.png] and saved under Files of the Subsector</td>
                        </tr>
                        <tr>
                            <td>|||SUBSECTOR_CURRENT_CLASSIFICATION_AND_SAMPLING_LOCATION_MAP|||</td>
                            <td>Yes</td>
                            <td>Will insert a draft map or get an existing map from CSSPWebTools Named: [{subsector}_Current_Classification_And_Sampling_Location_Map_{year}.png] and saved under Files of the Subsector</td>
                        </tr>
                        <tr>
                            <td>|||SUBSECTOR_RECOMMENDED_CLASSIFICATION_MAP|||</td>
                            <td>Yes</td>
                            <td>Will insert a graph placeholder or get an existing graph from CSSPWebTools Named: [{subsector}_Recommended_Classification_Map_{year}.png] and saved under Files of the Subsector</td>
                        </tr>
                        <tr>
                            <td>|||SUBSECTOR_POLLUTION_SOURCE_LOCATIONS_MAP|||</td>
                            <td>Yes</td>
                            <td>Will insert a graph placeholder or get an existing graph from CSSPWebTools Named: [{subsector}_Pollution_Source_Locations_Map_{year}.png] and saved under Files of the Subsector</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <div class="ReportTypeListTopDiv">
            @switch (tvItemModel.TVType)
            {
                case TVTypeEnum.Root:
                    {
                        @Html.Action("_reportTypeList", "ReportType", new { TVType = (int)TVTypeEnum.Root, TVItemID = tvItemModel.TVItemID });
                    }
                    break;
                case TVTypeEnum.Area:
                    {
                        @Html.Action("_reportTypeList", "ReportType", new { TVType = (int)TVTypeEnum.Area, TVItemID = tvItemModel.TVItemID });
                    }
                    break;
                case TVTypeEnum.Country:
                    {
                        @Html.Action("_reportTypeList", "ReportType", new { TVType = (int)TVTypeEnum.Country, TVItemID = tvItemModel.TVItemID });
                    }
                    break;
                case TVTypeEnum.Infrastructure:
                    {
                        @Html.Action("_reportTypeList", "ReportType", new { TVType = (int)TVTypeEnum.Infrastructure, TVItemID = tvItemModel.TVItemID });
                    }
                    break;
                case TVTypeEnum.MikeScenario:
                    {
                        @Html.Action("_reportTypeList", "ReportType", new { TVType = (int)TVTypeEnum.MikeScenario, TVItemID = tvItemModel.TVItemID });
                    }
                    break;
                case TVTypeEnum.MikeSource:
                    {
                        @Html.Action("_reportTypeList", "ReportType", new { TVType = (int)TVTypeEnum.MikeSource, TVItemID = tvItemModel.TVItemID });
                    }
                    break;
                case TVTypeEnum.Municipality:
                    {
                        @Html.Action("_reportTypeList", "ReportType", new { TVType = (int)TVTypeEnum.Municipality, TVItemID = tvItemModel.TVItemID });
                    }
                    break;
                case TVTypeEnum.MWQMSite:
                    {
                        @Html.Action("_reportTypeList", "ReportType", new { TVType = (int)TVTypeEnum.MWQMSite, TVItemID = tvItemModel.TVItemID });
                    }
                    break;
                case TVTypeEnum.PolSourceSite:
                    {
                        @Html.Action("_reportTypeList", "ReportType", new { TVType = (int)TVTypeEnum.PolSourceSite, TVItemID = tvItemModel.TVItemID });
                    }
                    break;
                case TVTypeEnum.Province:
                    {
                        @Html.Action("_reportTypeList", "ReportType", new { TVType = (int)TVTypeEnum.Province, TVItemID = tvItemModel.TVItemID });
                    }
                    break;
                case TVTypeEnum.Sector:
                    {
                        @Html.Action("_reportTypeList", "ReportType", new { TVType = (int)TVTypeEnum.Sector, TVItemID = tvItemModel.TVItemID });
                    }
                    break;
                case TVTypeEnum.Subsector:
                    {
                        @Html.Action("_reportTypeList", "ReportType", new { TVType = (int)TVTypeEnum.Subsector, TVItemID = tvItemModel.TVItemID });
                    }
                    break;
                case TVTypeEnum.BoxModel:
                    {
                        @Html.Action("_reportTypeList", "ReportType", new { TVType = (int)TVTypeEnum.BoxModel, TVItemID = tvItemModel.TVItemID });
                    }
                    break;
                case TVTypeEnum.VisualPlumesScenario:
                    {
                        @Html.Action("_reportTypeList", "ReportType", new { TVType = (int)TVTypeEnum.VisualPlumesScenario, TVItemID = tvItemModel.TVItemID });
                    }
                    break;
                case TVTypeEnum.MWQMRun:
                    {
                        @Html.Action("_reportTypeList", "ReportType", new { TVType = (int)TVTypeEnum.MWQMRun, TVItemID = tvItemModel.TVItemID });
                    }
                    break;
                default:
                    {
                        <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                    }
                    break;
            }
        </div>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">@FileViewRes.CreateDocumentFromTemplates</h4>
    </div>
    <div class="panel-body">
        <div>
            @if (docTemplateModelList.Count == 0)
            {
                @FileViewRes.Empty
            }
            else
            {
                <ul class="list-unstyled">
                    @foreach (DocTemplateModel docTemplateModel in docTemplateModelList)
                    {
                        <li>
                            <span>@docTemplateModel.FileName &nbsp;&nbsp;</span>
                            <button class="jbCreateDocumentFromTemplate btn btn-primary"
                                    data-tvitemid="@tvItemModel.TVItemID"
                                    data-doctemplateid="@docTemplateModel.DocTemplateID">
                                <span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;@FileViewRes.Generate
                            </button>
                        </li>
                        <li>&nbsp;</li>
                    }
                </ul>
            }
        </div>
    </div>
</div>

