@using CSSPWebTools.Views.File.Resources;
@using CSSPWebTools.Controllers;
@using CSSPEnumsDLL.Enums;
@using CSSPEnumsDLL.Services;
@using CSSPModelsDLL.Models;

@{
    FileController fileController = (FileController)ViewBag.FileController;
    TVItemModel tvItemModel = (TVItemModel)ViewBag.TVItemModel;
    List<DocTemplateModel> docTemplateModelList = (List<DocTemplateModel>)ViewBag.DocTemplateModelList;
    BaseEnumService _BaseEnumService = new BaseEnumService(ViewBag.Language);
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">@FileViewRes.CreateDocumentUsingParameters</h4>
    </div>
    <div class="panel-body">
        <div>
            @if (docTemplateModelList.Count == 0)
            {
                @FileViewRes.Empty
            }
            else
            {
                <div>
                    @switch (tvItemModel.TVType)
                    {
                        case TVTypeEnum.Root:
                            {
                                @Html.Action("_generateReportRoot", "File", new { TVItemID = tvItemModel.TVItemID });
                            }
                            break;
                        case TVTypeEnum.Address:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.Area:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.ClimateSite:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.Contact:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.Country:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.Email:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.File:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.HydrometricSite:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.Infrastructure:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.MikeBoundaryConditionWebTide:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.MikeBoundaryConditionMesh:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.MikeScenario:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.MikeSource:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.Municipality:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.MWQMSite:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.PolSourceSite:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.Province:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.Sector:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.Subsector:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.Tel:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.TideSite:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.MWQMSiteSample:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.WasteWaterTreatmentPlant:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.LiftStation:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.Spill:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.BoxModel:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.VisualPlumesScenario:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.Outfall:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.OtherInfrastructure:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.MWQMRun:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.NoDepuration:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.Failed:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.Passed:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.NoData:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.LessThan10:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.MeshNode:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.WebTideNode:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.SamplingPlan:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.SeeOther:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.LineOverflow:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.BoxModelInputs:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.BoxModelResults:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.ClimateSiteInfo:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.ClimateSiteData:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.HydrometricSiteInfo:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.HydrometricSiteData:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.InfrastructureInfo:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.LabSheetInfo:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.LabSheetDetailInfo:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.MapInfo:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.MapInfoPoint:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.MikeSourceStartEndInfo:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.MWQMLookupMPNInfo:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.SamplingPlanInfo:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.SamplingPlanSubsectorInfo:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.SamplingPlanSubsectorSiteInfo:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.MWQMSiteStartEndInfo:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.MWQMSubsectorInfo:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.PolSourceSiteInfo:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.PolSourceSiteObsInfo:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.HydrometricRatingCurveInfo:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.HydrometricRatingCurveDataInfo:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.TideLocationInfo:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.TideSiteDataInfo:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.UseOfSite:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.VisualPlumesScenarioInfo:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.VisualPlumesScenarioAmbient:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.VisualPlumesScenarioResults:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.TotalFile:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.MikeSourceIsRiver:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.MikeSourceIncluded:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.MikeSourceNotIncluded:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.RainExceedance:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        case TVTypeEnum.EmailDistributionList:
                            {
                                <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                        default:
                            {
                               <h4>@(FileViewRes.NotImplementedYet + " [" + tvItemModel.TVType.ToString() + "]")</h4>
                            }
                            break;
                    }
                </div>
            }
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">@FileViewRes.CreateDocumentFromTemplates</h4>
    </div>
    <div class="panel-body">
        <div>
            @if (docTemplateModelList.Count == 0)
            {
                @FileViewRes.Empty
            }
            else
            {
                <ul class="list-unstyled">
                    @foreach (DocTemplateModel docTemplateModel in docTemplateModelList)
                    {
                        <li>
                            <span>@docTemplateModel.FileName &nbsp;&nbsp;</span>
                            <button class="jbCreateDocumentFromTemplate btn btn-primary"
                                    data-tvitemid="@tvItemModel.TVItemID"
                                    data-doctemplateid="@docTemplateModel.DocTemplateID">
                                <span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;@FileViewRes.Generate
                            </button>
                        </li>
                        <li>&nbsp;</li>
                    }
                </ul>
            }
        </div>
    </div>
</div>

