@using CSSPWebTools.Views.File.Resources;
@using CSSPWebTools.Models;
@using CSSPEnumsDLL.Enums;
@using CSSPModelsDLL.Models;

@{
    TVFileModel tvFileModel = (TVFileModel)ViewBag.TVFileModel;
    List<FilePurposeAndText> filePurposeAndTextList = (List<FilePurposeAndText>)ViewBag.FilePurposeAndTextList;
    FileInfo fi = new FileInfo(tvFileModel.ServerFilePath + tvFileModel.ServerFileName);
    string SaveAsFileName = fi.Name.Replace(fi.Extension, "");
}

<form id="FileEditForm" role="form" action="File/FileEditSaveJSON" method="post">
    <span class="PictureEnum hidden">@(((int)FilePurposeEnum.Picture))</span>
    @Html.AntiForgeryToken()
    <input type="hidden" name="TVFileTVItemID" value="@tvFileModel.TVFileTVItemID" />
    <fieldset>

        <div class="blockMargin paraBlock">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">@FileViewRes.EditMode</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label" for="Language">
                            @FileViewRes.Language:
                            <button class="jbHelpDocShowDialog btn btn-link" data-dockey="filelanguage" data-title="@FileViewRes.Language"><span class="glyphicon glyphicon-info-sign"></span></button>
                        </label>
                        <div class="checkbox-inline">
                            <label class="control-label">
                                <input name="Language" type="radio" @(tvFileModel.Language == LanguageEnum.en ? "checked=checked" : "") value="@(((int)LanguageEnum.en).ToString())" /> @FileViewRes.English &nbsp;&nbsp;&nbsp;
                            </label>
                            <label class="control-label">

                                <input name="Language" type="radio" @(tvFileModel.Language == LanguageEnum.fr ? "checked=checked" : "") value="@(((int)LanguageEnum.fr).ToString())" /> @FileViewRes.French &nbsp;&nbsp;&nbsp;
                            </label>
                            <label class="control-label">
                                <input name="Language" type="radio" @(tvFileModel.Language == LanguageEnum.enAndfr ? "checked=checked" : "") value="@(((int)LanguageEnum.enAndfr).ToString())" /> @FileViewRes.Both

                            </label>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="Year">
                            @FileViewRes.YearOfDocument:
                            <button class="jbHelpDocShowDialog btn btn-link" data-dockey="fileyearofdocument" data-title="@FileViewRes.YearOfDocument"><span class="glyphicon glyphicon-info-sign"></span></button>
                        </label>
                        <div>
                            <select class="form-control" name="Year" id="Year">
                                @for (int i = DateTime.Now.Year; i > 1979; i--)
                                {
                                    int SelectedYear = 0;
                                    if (tvFileModel.Year == null)
                                    {
                                        SelectedYear = DateTime.Now.Year;
                                    }
                                    else
                                    {
                                        SelectedYear = (int)tvFileModel.Year;
                                    }
                                    <option value="@i" @(SelectedYear == i ? "selected=selected" : "")>@i</option>
                                }
                            </select>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="FilePurpose">
                            @FileViewRes.FilePurpose:
                            <button class="jbHelpDocShowDialog btn btn-link" data-dockey="filefilepurpose" data-title="@FileViewRes.FilePurpose"><span class="glyphicon glyphicon-info-sign"></span></button>
                        </label>
                        <div>
                            <select class="form-control" name="FilePurpose" id="FilePurpose">
                                @foreach (FilePurposeAndText fptai in filePurposeAndTextList)
                                {
                                    if (!fptai.FilePurposeText.ToLower().StartsWith("mike"))
                                    {
                                        if (tvFileModel.FilePurpose == fptai.FilePurpose)
                                        {
                                            <option value="@((int)fptai.FilePurpose)" selected="selected">@fptai.FilePurposeText</option>
                                        }
                                        else
                                        {
                                            <option value="@((int)fptai.FilePurpose)">@fptai.FilePurposeText</option>
                                        }
                                    }
                                }
                            </select>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="FileDescription">
                            @FileViewRes.FileDescription
                            <button class="jbHelpDocShowDialog btn btn-link" data-dockey="filefiledescription" data-title="@FileViewRes.FileDescription"><span class="glyphicon glyphicon-info-sign"></span></button>
                        </label>
                        <div>
                            <textarea class="form-control" name="FileDescription" id="FileDescription" rows="2">@tvFileModel.FileDescription</textarea>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="SaveAsFileName">
                            @FileViewRes.SaveAsFileName @FileViewRes.NoExtension
                            <button class="jbHelpDocShowDialog btn btn-link" data-dockey="filesaveasnoextension" data-title="@FileViewRes.SaveAsFileName @FileViewRes.NoExtension"><span class="glyphicon glyphicon-info-sign"></span></button>
                        </label>
                        <div>
                            <input class="form-control" type="text" name="SaveAsFileName" id="SaveAsFileName" value="@SaveAsFileName" />
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="FromWaterDiv form-group @(tvFileModel.FilePurpose == FilePurposeEnum.Picture ? "" : "hidden")">
                        <label class="checkbox-inline" for="FromWater">
                            <input type="checkbox" @(tvFileModel.FromWater != null && tvFileModel.FromWater == true ? "checked=checked" : "") name="FromWater" />
                            <span>@FileViewRes.FromWater</span>
                            <button class="jbHelpDocShowDialog btn btn-link" data-dockey="filefromwater" data-title="@FileViewRes.FromWater"><span class="glyphicon glyphicon-info-sign"></span></button>
                        </label>
                    </div>
                </div>
                <div class="panel-footer">
                    <button class="jbFileEditSave btn btn-primary" type="submit"><span class="glyphicon glyphicon-check"></span>&nbsp;@FileViewRes.Save</button>
                </div>
            </div>
        </div>
    </fieldset>

</form>

<script type="text/javascript">
    $(function () {
        cssp.File.InitEdit();
    });
</script>
