@using CSSPWebTools.Views.Account.Resources;
@using CSSPEnumsDLL.Enums;
@using CSSPModelsDLL.Models;

<div id="ForgotPasswordEmailSentDiv" class="container-fluid">
    <div class="row">
        <form id="ForgotPasswordJSONForm" class=" col-lg-6 col-md-6 col-sm-12" method="post" role="form" action="Account/ForgotPasswordJSON">
            @Html.AntiForgeryToken()
            <fieldset>
                <legend><span>@AccountViewRes.ResettingPasswordByEmail</span></legend>

                <div class="well well-sm">
                    <h4>
                        @AccountViewRes.UniqueCodeSentTo&nbsp;
                        <span class="EmailSendTo text-primary lead"></span>.
                      
                    </h4>
                    <p class="text-warning blockMargin">
                        <b>@AccountViewRes.UniqueCodeRequiredToResetPassword</b>
                    </p>
                </div>
                <div class="form-group hidden">
                    <label class="control-label  col-sm-4" for="Email">Email</label>
                    <div class="col-sm-8">
                        <input name="Email" id="Email" class="form-control" autofocus="autofocus" type="Email" value="">
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="Code">
                        @AccountViewRes.Code &nbsp;
                        <span id="UniqueCodePopover" data-container="body" data-toggle="popover" data-placement="right" data-content="@AccountViewRes.UseCodeFromEmail">
                            <span class="glyphicon glyphicon-info-sign text-primary"></span>

                        </span>
                    </label>
                    <div class="col-sm-8">
                        <input name="Code" id="Code" class="form-control" autofocus="autofocus" type="text" value="">
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="Password">@AccountViewRes.NewPassword</label>
                    <div class="col-sm-8">
                        <input name="Password"  id="Password" class="form-control" type="password" value="">
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="ConfirmPassword">@AccountViewRes.PasswordConfirmation</label>
                    <div class="col-sm-8">
                        <input name="ConfirmPassword" id="ConfirmPassword" class="form-control" type="password" value="">
                        <span class="help-block"></span>
                    </div>
                </div>


                <div class="btn-block  col-sm-offset-4 col-sm-8">
                    <button class="jbForgotPasswordEmailSent btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-off"></span> &nbsp; @AccountViewRes.ResetPassword
                    </button>
                    <a href="#!Login" class="appJSLogin btn btn-default" role="button">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp; @AccountViewRes.Cancel
                    </a>
                </div>

            </fieldset>
        </form>
        <div class="col-lg-6 col-md-4 col-sm-2">&nbsp;</div>
    </div>
</div>

@if (ViewBag.Debug)
{
    <div class="clearfix"></div>
    <div class="testing hidden">
        <h2>Testing _ForgotPassword.cshtml and cssp.Login.ts</h2>
        <span class="divName" style="display: none">#ForgotPasswordEmailSentDiv</span>
        <span class="appName" style="display: none">cssp.ForgotPasswordEmailSent</span>
        <a class="jtTestForgotPasswordEmailSentContents btn btn-default">Test Contents</a>
        <a class="jtTestForgotPasswordEmailSentFields btn btn-default">Test Code Fields</a>
        <a class="jtTestForgotPasswordEmailSentSendForm btn btn-default">Test Send Form</a>
    </div>
}

<script type="text/javascript">
    $(function () {
        cssp.ForgotPasswordEmailSent.Init();
    });
    $(function () {
        $('#UniqueCodePopover').popover()
    })
</script>

