@using CSSPWebTools.Views.Account.Resources;
@using CSSPEnumsDLL.Enums;
@using CSSPModelsDLL.Models;

@{
    ResetPasswordModel resetPasswordModel = new ResetPasswordModel();
}
<div id="ForgotPasswordDiv" class="container-fluid">
    <div class="row">
        <form id="TryToSendEmailJSON" class="form-horizontal col-lg-6 col-md-8 col-sm-10 " method="post" role="form" action="Account/TryToSendEmailJSON">
            @Html.AntiForgeryToken()
            <fieldset>
                <legend><span>@AccountViewRes.ResettingPasswordByEmail</span></legend>


                <div class="form-group">
                    <label class=" col-sm-2 control-label" for="Email">@AccountViewRes.Email</label>
                    <div class="col-sm-10">
                        <input autofocus="autofocus" id="Email" class="form-control" name="Email" type="email" placeholder="@AccountViewRes.Email">
                        <span class="help-block"></span>
                    </div>
                </div>



                <div class="btn-block col-sm-offset-2 col-sm-10">

                    <button class="jbForgotPassword btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-off"></span> &nbsp; @AccountViewRes.ResetPassword
                    </button>
                    <a href="#!Login" class="appJSLogin btn btn-default" role="button">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp; @AccountViewRes.Cancel
                    </a>
                </div>

            </fieldset>
        </form>
        <div class="col-lg-6 col-md-4 col-sm-2">&nbsp;</div>
        </div>
      
    </div>


@if (ViewBag.Debug)
{
    <div class="clearfix"></div>
    <div class="testing hidden">
        <h2>Testing _ForgotPassword.cshtml and cssp.ForgotPassword.ts</h2>
        <span class="divName" style="display: none">#ForgotPasswordDiv</span>
        <span class="appName" style="display: none">cssp.ForgotPassword</span>
        <a class="jtTestForgotPasswordContents btn btn-default">Test Contents</a>
        <a class="jtTestForgotPasswordFields btn btn-default">Test Fields</a>
        <a class="jtTestForgotPasswordSendForm btn btn-default">Test Send Form</a>
        <a class="jtTestForgotPasswordSetupPart2 btn btn-default">Goto Part 2</a>
    </div>
}
<script type="text/javascript">
    $(function () {
        cssp.ForgotPassword.Init();
    });
    $('#example').popover()
</script>

