@using CSSPWebTools.Views.PolSource.Resources;
@using CSSPWebTools.Controllers;
@using System.Globalization;
@using CSSPEnumsDLL.Enums;
@using CSSPEnumsDLL.Services;
@using CSSPModelsDLL.Models;

@{
    PolSourceSiteModel polSourceSiteModel = (PolSourceSiteModel)ViewBag.PolSourceSiteModel;
    TVItemModel tvItemModel = (TVItemModel)ViewBag.TVItemModel;
    MapInfoPointModel mapInfoPointModel = (MapInfoPointModel)ViewBag.MapInfoPointModel;
    PolSourceController polSourceController = (PolSourceController)ViewBag.PolSourceController;
    List<PolSourceObservationModel> polSourceObservationModelList = (List<PolSourceObservationModel>)ViewBag.PolSourceObservationModelList;
    int ParentTVItemID = (int)ViewBag.ParentTVItemID;
    int PolSourceSiteTVItemID = (int)ViewBag.PolSourceSiteTVItemID;
    List<PolSourceObsInfoEnumTextAndID> polSourceObsInfoEnumTextAndIDList = (List<PolSourceObsInfoEnumTextAndID>)ViewBag.PolSourceObsInfoEnumTextAndIDList;
    List<PolSourceInactiveReasonEnumTextAndID> polSourceInactiveReasonEnumTextAndIDList = (List<PolSourceInactiveReasonEnumTextAndID>)ViewBag.PolSourceInactiveReasonEnumTextAndIDList;
    BaseEnumService _BaseEnumService = new BaseEnumService(ViewBag.Language);
}

<div class="PolSourceSiteTopDiv">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                @(PolSourceSiteTVItemID == 0 ? PolSourceViewRes.Add : PolSourceViewRes.Modify) @PolSourceViewRes.PollutionSourceSiteObservations
            </h4>
        </div>
        <div class="panel-body">
            <div class="container-fluid">
                @if (polSourceObservationModelList != null && polSourceObservationModelList.Count > 0)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" href="#collapseLastObs" aria-expanded="true" aria-controls="collapseLastObs">
                                <h4 class="panel-title">
                                    @PolSourceViewRes.LastObservations
                                </h4>
                            </a>

                        </div>
                        <div id="collapseLastObs" class="collapse in">
                            <div class="panel-body">
                                @if (PolSourceSiteTVItemID > 0)
                                {
                                    <p class="text-danger">
                                        <b>
                                            <i>@polSourceObservationModelList[0].ObservationDate_Local.ToString("yyyy MMMM dd")</i>
                                            <i class="elementSpacing">@polSourceObservationModelList[0].ContactTVText</i>
                                        </b>
                                    </p>
                                }
                                <p>
                                    <label>@PolSourceViewRes.WrittenDescription:</label>
                                    @if (!string.IsNullOrWhiteSpace(polSourceObservationModelList[0].Observation_ToBeDeleted))
                                    {
                                        <span>@polSourceObservationModelList[0].Observation_ToBeDeleted</span>
                                    }
                                    else
                                    {
                                        <i class="text-lowercase elementSpacing">@PolSourceViewRes.NoData</i>
                                    }
                                </p>
                                <p>
                                    <label>@PolSourceViewRes.SelectedDescription:</label>
                                    <ul class="list-unstyled">
                                        @for (int i = 0, count = polSourceObservationModelList[0].PolSourceObservationIssueModelList.Count; i < count; i++)
                                        {
                                            <li>
                                                <h4>@PolSourceViewRes.Issue (@(i + 1))</h4>
                                                @foreach (PolSourceObsInfoEnum polSourceObsInfo in polSourceObservationModelList[0].PolSourceObservationIssueModelList[i].PolSourceObsInfoList)
                                                {
                                                    <span>@(_BaseEnumService.GetEnumText_PolSourceObsInfoReportEnum(polSourceObsInfo))</span>
                                                }
                                            </li>
                                        }
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                }
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" href="#collapseForm" aria-expanded="true" aria-controls="collapseForm">
                            <h4 class="panel-title">
                                @PolSourceViewRes.NewObservations
                            </h4>
                        </a>
                    </div>
                    <div id="collapseForm" class="collapse in">
                        <div class="panel-body">
                            @if (PolSourceSiteTVItemID != 0)
                            {
                                <div class="AddressDiv">
                                    @Html.Action("_addressEditPolSourceSite", "Address", new { PolSourceSiteTVItemID = PolSourceSiteTVItemID })
                                </div>
                            }

                            <form id="PolSourceSiteAddOrModifyForm" action="PolSource/PolSourceSiteSaveAllJSON" method="post">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="ParentTVItemID" value="@ParentTVItemID" />
                                <input type="hidden" name="PolSourceSiteTVItemID" value="@PolSourceSiteTVItemID" />


                                <label class="h4">@PolSourceViewRes.ObservationDate</label>
                                <a href="" class="jaPopover text-info elementSpacing" type="button" tabindex="1" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="right" data-content="@PolSourceViewRes.ToChangeExistingObsInsertSameDateAsObsDate">
                                    <span class="glyphicon glyphicon-info-sign"></span>
                                </a>
                                <div class="form-inline elementSpacing">
                                    <div class="form-group">
                                        <label class="control-label">@PolSourceViewRes.Year</label>
                                        <div>
                                            <select class="form-control" name="ObsYear">
                                                @for (int i = 1980; i < DateTime.Now.Year + 1; i++)
                                                {
                                                    <option @(DateTime.Now.Year == i ? @"selected=""selected""" : "") value="@i.ToString()">@i.ToString()</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">@PolSourceViewRes.Month</label>
                                        <div>
                                            <select class="form-control" name="ObsMonth">
                                                @for (int i = 1; i < 13; i++)
                                                {
                                                    <option @(DateTime.Now.Month == i ? @"selected=""selected""" : "") value="@i.ToString()">@(CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i))</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">@PolSourceViewRes.Day</label>
                                        <div>
                                            <select class="form-control" name="ObsDay">
                                                @{
                                                    int NumberOfDaysInMonth = DateTime.DaysInMonth(DateTime.Now.Year, DateTime.Now.Month);
                                                    for (int i = 1; i < NumberOfDaysInMonth + 1; i++)
                                                    {
                                                        <option @(DateTime.Now.Day == i ? @"selected=""selected""" : "") value="@i.ToString()">@i.ToString()</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <label class="h4">@PolSourceViewRes.Location</label>
                                <a href="" class="jaPopover text-info elementSpacing" type="button" tabindex="1" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="right" data-content="@PolSourceViewRes.ToChangeExistingObsInsertSameDateAsObsDate">
                                    <span class="glyphicon glyphicon-info-sign"></span>
                                </a>
                                <div class="form-inline elementSpacing">
                                    <div class="form-group">
                                        <label class="control-label">@PolSourceViewRes.Latitude :</label>
                                        <div>
                                            <input class="PolSourceLat isnumber form-control" type="text" name="Lat" value="@(mapInfoPointModel == null ? "" : mapInfoPointModel.Lat.ToString("F5"))" />
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">@PolSourceViewRes.Longitude :</label>
                                        <div>
                                            <input class="PolSourceLng isnumber form-control" type="text" name="Lng" value="@(mapInfoPointModel == null ? "" : mapInfoPointModel.Lng.ToString("F5"))" />
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="elementSpacing">
                                    <div class="form-inline">
                                        <div class="checkbox-inline">
                                            <label class="control-label">
                                                <input type="checkbox" class="checkbox" name="IsActive" @((tvItemModel == null || tvItemModel.IsActive) == false ? "" : "checked=\"checked\"") />
                                                @PolSourceViewRes.IsActive
                                            </label>
                                        </div>
                                        <div class="checkbox-inline">
                                            <label class="control-label">
                                                <input type="checkbox" class="checkbox" name="IsPointSource" @((polSourceSiteModel == null || polSourceSiteModel.IsPointSource) == false ? "" : "checked=\"checked\"") />
                                                @PolSourceViewRes.IsPointSource
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="Inactive @((tvItemModel == null || tvItemModel.IsActive) == false ? "" : "hidden")">
                                    <label class="h4">
                                        @PolSourceViewRes.InactiveReason
                                    </label>
                                    <a href="" class="jaPopover text-info elementSpacing" type="button" tabindex="1" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="right" data-content="@PolSourceViewRes.ToChangeExistingObsInsertSameDateAsObsDate">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                    </a>
                                    <div class="elementSpacing">
                                        @foreach (PolSourceInactiveReasonEnumTextAndID polSourceInactiveReasonEnumTextAndID in polSourceInactiveReasonEnumTextAndIDList)
                                        {
                                            <div class="radio-inline">
                                                <label class="control-label">
                                                    <input type="radio" class="radio" name="InactiveReason" value="@polSourceInactiveReasonEnumTextAndID.ID"
                                                           @((tvItemModel != null && polSourceSiteModel != null && tvItemModel.IsActive == false && polSourceSiteModel.InactiveReason != null && polSourceInactiveReasonEnumTextAndID.ID == (int)polSourceSiteModel.InactiveReason) ? "checked=\"checked\"" : "") />
                                                    @polSourceInactiveReasonEnumTextAndID.Text
                                                </label>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="btn-block">
                                    <button class="jbPolSourceSiteEditSave btn btn-primary" type="submit">
                                        <span class="glyphicon glyphicon-check"></span>
                                        &nbsp;@(PolSourceSiteTVItemID == 0 ? PolSourceViewRes.Add : PolSourceViewRes.Modify)
                                    </button>
                                </div>
                            </form>
                            <p></p>
                            <div class="IssueListDiv">
                                @Html.Action("_polSourceIssueList", "PolSource", new { PolSourceObservationID = polSourceObservationModelList[0].PolSourceObservationID, IssueOrdinal = 0 })
                            </div>
                        </div>
                    </div>
                </div>
                @if (polSourceObservationModelList != null && polSourceObservationModelList.Count > 1)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" href="#collapsePreviousObs" aria-expanded="false" aria-controls="collapseForm">
                                <h4 class="panel-title">
                                    @PolSourceViewRes.PreviousObservations
                                </h4>
                            </a>
                        </div>
                        <div id="collapsePreviousObs" class="collapse">
                            <div class="panel-body">
                                @for (int i = 1, count = polSourceObservationModelList.Count; i < count; i++)
                                {
                                    if (PolSourceSiteTVItemID > 0)
                                    {
                                        <p class="text-danger">
                                            <b>
                                                <i>@polSourceObservationModelList[i].ObservationDate_Local.ToString("yyyy MMMM dd")</i>
                                                <i class="elementSpacing">@polSourceObservationModelList[i].ContactTVText</i>
                                            </b>
                                        </p>
                                    }
                                    <p>
                                        <label>@PolSourceViewRes.WrittenDescription:</label>
                                        @if (!string.IsNullOrWhiteSpace(polSourceObservationModelList[i].Observation_ToBeDeleted))
                                        {
                                            <span>@polSourceObservationModelList[i].Observation_ToBeDeleted</span>
                                        }
                                        else
                                        {
                                            <i class="text-lowercase elementSpacing">@PolSourceViewRes.NoData</i>
                                        }
                                    </p>
                                    <p>
                                        <label>@PolSourceViewRes.SelectedDescription:</label>
                                        <ul class="list-unstyled">
                                            @for (int j = 0, countJ = polSourceObservationModelList[0].PolSourceObservationIssueModelList.Count; j < countJ; j++)
                                            {
                                                <li>
                                                    <h4>@PolSourceViewRes.Issue (@(j + 1))</h4>
                                                    @foreach (PolSourceObsInfoEnum polSourceObsInfo in polSourceObservationModelList[i].PolSourceObservationIssueModelList[j].PolSourceObsInfoList)
                                                    {
                                                        <span>@(_BaseEnumService.GetEnumText_PolSourceObsInfoReportEnum(polSourceObsInfo))</span>
                                                    }
                                                </li>
                                            }
                                        </ul>
                                    </p>
                                    <p style="border-top:1px dotted maroon">
                                        <span>&nbsp; </span>
                                    </p>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        cssp.PolSourceSite.InitAddOrModify();
    });
    $(function () {
        $(".jaPopover").popover();
    });
</script>
