@using CSSPWebTools.Views.Address.Resources;
@using CSSPWebTools.Controllers;
@using CSSPEnumsDLL.Enums;
@using CSSPEnumsDLL.Services;
@using CSSPModelsDLL.Models;

@{
    List<TVItemModel> tvItemModelListMunicipality = (List<TVItemModel>)ViewBag.TVItemModelListMunicipality;
    int municipalityTVItemID = (int)ViewBag.municipalityTVItemID;
    AddressController addressController = (AddressController)ViewBag.AddressController;
    BaseEnumService _BaseEnumService = new BaseEnumService(ViewBag.Language);

}
<select name="MunicipalityTVItemID" class="MunicipalityTVItemSelect form-control">
    <option value="0">@(_BaseEnumService.GetEnumText_TVTypeEnum(TVTypeEnum.Municipality))</option>
    @if (tvItemModelListMunicipality.Count > 0)
    {
        foreach (TVItemModel tvItemModel in tvItemModelListMunicipality)
        {
            <option @(tvItemModel.TVItemID == municipalityTVItemID ? @"selected=""selected""" : "") value="@tvItemModel.TVItemID">@tvItemModel.TVText</option>
        }
        <option value="-2" >-----------------------------</option>
        <option value="-1">@AddressViewRes.Add @AddressViewRes.Municipality</option>
    }
</select>
