@using CSSPWebTools.Views.OpenData.Resources;
@using CSSPWebTools.Controllers;
@using CSSPEnumsDLL.Enums;
@using CSSPEnumsDLL.Services;
@using CSSPModelsDLL.Models;
@using System.Linq;

@{
    int ProvinceTVItemID = (int)ViewBag.ProvinceTVItemID;
}

<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title">
            @OpenDataViewRes.OpenDataDocumentProduction
        </div>
    </div>
    <div class="panel-body">
        <div class="AppTaskDiv">
            @Html.Action("_appTask", "Home", new { TVItemID = ProvinceTVItemID, Seconds = 5 })
        </div>
        <p>
            <button class="jbOpenDataGenerateCSVDocumentOfMWQMSites btn btn-primary" data-provincetvitemid="@ProvinceTVItemID">
                <span>@OpenDataViewRes.GenerateCSVDocumentOfMWQMSites</span>
            </button>
        </p>
        <p>
            <button class="jbOpenDataGenerateKMZDocumentOfMWQMSites btn btn-primary" data-provincetvitemid="@ProvinceTVItemID">
                <span>@OpenDataViewRes.GenerateKMZDocumentOfMWQMSites</span>
            </button>
        </p>
        <p>
            <button class="jbOpenDataGenerateCSVDocumentOfMWQMSamples btn btn-primary" data-provincetvitemid="@ProvinceTVItemID">
                <span>@OpenDataViewRes.GenerateCSVDocumentOfMWQMSamples</span>
            </button>
        </p>
        <p>
            <button class="jbOpenDataGenerateXlsxDocumentOfMWQMSitesAndSamples btn btn-primary" data-provincetvitemid="@ProvinceTVItemID">
                <span>@OpenDataViewRes.GenerateXlsxDocumentOfMWQMSitesAndSamples</span>
            </button>
        </p>
    </div>
</div>
