@using CSSPWebTools.Views.OpenData.Resources;
@using CSSPWebTools.Controllers;
@using CSSPEnumsDLL.Enums;
@using CSSPEnumsDLL.Services;
@using CSSPModelsDLL.Models;
@using System.Linq;

@{
    int SubsectorTVItemID = (int)ViewBag.SubsectorTVItemID;
    List<TVItemModel> tvItemModelMWQMSiteList = (List<TVItemModel>)ViewBag.TVItemModelMWQMSiteList;
}

<div class="OpenDataButtonsTopDiv">
    <span>@OpenDataViewRes.MarkAllRoutineSamplesFromSelectedDatesAboveAvailableForOpenData (@OpenDataViewRes.SubsectorWide) : </span>
    <span class="OpenDataButtonsDiv">
        <button class="jbOpenDataMarkAllRoutineSamplesForOpenData btn btn-primary" data-tvitemid="@SubsectorTVItemID" data-useforopendata="true">
            <span>@OpenDataViewRes.UseForOpenData</span>
        </button>
        <button class="jbOpenDataMarkAllRoutineSamplesForOpenData btn btn-primary" data-tvitemid="@SubsectorTVItemID" data-useforopendata="false">
            <span>@OpenDataViewRes.NotUseForOpenData</span>
        </button>
    </span>
    <span class="OpenDataWorkingDiv hidden">
        @OpenDataViewRes.Working ... @OpenDataViewRes.YouCanClickTheStatButtonToSeeTheStatusOfTheTask
    </span>
    <br />
    <hr />
</div>

@foreach (TVItemModel tvItemModel in tvItemModelMWQMSiteList)
{
    <div class="OpenDataMWQMSiteDiv panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">
                <button class="jbOpenDataReloadMWQMSite btn btn-default" data-tvitemid="@tvItemModel.TVItemID">
                    <span class="glyphicon glyphicon-arrow-down" title="@OpenDataViewRes.ShowOrHideMWQMSamples"></span>
                </button>
                <span>@tvItemModel.TVText</span>
                <button class="jbOpenDataStat btn btn-default" data-tvitemid="@tvItemModel.TVItemID">
                    <span class="glyphicon glyphicon-arrow-right" title="@OpenDataViewRes.ShowOrHideMWQMSiteList"></span>
                    Stat
                </button>
                <span class="OpenDataStatSpan"></span>
            </div>
        </div>
        <div class="panel-body">
            <div class="OpenDataMWQMSamplesDiv">

            </div>
        </div>
    </div>
}
