@using CSSPWebTools.Views.OpenData.Resources;
@using CSSPWebTools.Controllers;
@using CSSPEnumsDLL.Enums;
@using CSSPEnumsDLL.Services;
@using CSSPModelsDLL.Models;
@using System.Linq;
@using System.Globalization;

@{
    int ProvinceTVItemID = (int)ViewBag.ProvinceTVItemID;
    List<TVItemModel> tvItemModelSubsectorList = (List<TVItemModel>)ViewBag.TVItemModelSubsectorList;
}

<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="h2">@OpenDataViewRes.AppliedBetween</div>
            <br />
            @* Open Data Start Date *@
            <label>@OpenDataViewRes.StartDate</label>
            <div class="blockMargin lineSpaceBottom">
                <div class="form-inline">
                    <div class="form-group  blockRightSpace">
                        <label class="control-label"> @OpenDataViewRes.Year</label>
                        <div>
                            <select class="form-control" name="OpenDataStartYear">
                                @for (int i = 1980; i < DateTime.Now.Year + 1; i++)
                                {
                                    <option @(i == 1980 ? "selected=selected" : "") value="@i.ToString()">@i.ToString()</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group  blockRightSpace">
                        <label class="control-label">@OpenDataViewRes.Month</label>
                        <div>
                            <select class="form-control" name="OpenDataStartMonth">
                                @for (int i = 1; i < 13; i++)
                                {
                                    <option @(i == 1 ? "selected=selected" : "") value="@i.ToString()">@(CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i))</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group  blockRightSpace">
                        <label class="control-label">@OpenDataViewRes.Day</label>
                        <div>
                            <select class="form-control" name="OpenDataStartDay">
                                @{
                                    int NumberOfDaysInMonth = DateTime.DaysInMonth(1980, 1);
                                    for (int i = 1; i < NumberOfDaysInMonth + 1; i++)
                                    {
                                        <option @(i == 1 ? "selected=selected" : "") value="@i.ToString()">@i.ToString()</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            @* Open Data End Date *@
            <label>@OpenDataViewRes.EndDate</label>
            <div class="blockMargin lineSpaceBottom">
                <div class="form-inline">
                    <div class="form-group  blockRightSpace">
                        <label class="control-label"> @OpenDataViewRes.Year</label>
                        <div>
                            <select class="form-control" name="OpenDataEndYear">
                                @for (int i = 1980; i <= DateTime.Now.Year + 1; i++)
                                {
                                    <option @(i == DateTime.Now.Year ? "selected=selected" : "") value="@i.ToString()">@i.ToString()</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group  blockRightSpace">
                        <label class="control-label">@OpenDataViewRes.Month</label>
                        <div>
                            <select class="form-control" name="OpenDataEndMonth">
                                @for (int i = 1; i < 13; i++)
                                {
                                    <option @(i == 12 ? "selected=selected" : "") value="@i.ToString()">@(CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i))</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group  blockRightSpace">
                        <label class="control-label">@OpenDataViewRes.Day</label>
                        <div>
                            <select class="form-control" name="OpenDataEndDay">
                                @{
                                    int NumberOfDaysInMonth2 = DateTime.DaysInMonth(1980, 1);
                                    for (int i = 1; i < NumberOfDaysInMonth2 + 1; i++)
                                    {
                                        <option @(i == NumberOfDaysInMonth2 ? "selected=selected" : "") value="@i.ToString()">@i.ToString()</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="OpenDataButtonsTopDiv">
            <p>@OpenDataViewRes.ClickingTheButtonsBelowCanTakeALongTimeToExecuteSometimeAFewMinutes</p>
            <span>@OpenDataViewRes.MarkAllRoutineSamplesFromSelectedDatesAboveAvailableForOpenData (@OpenDataViewRes.ProvinceWide) : </span>
            <span class="OpenDataButtonsDiv">
                <button class="jbOpenDataMarkAllRoutineSamplesForOpenData btn btn-primary" data-tvitemid="@ProvinceTVItemID" data-useforopendata="true">
                    <span>@OpenDataViewRes.UseForOpenData</span>
                </button>
                <button class="jbOpenDataMarkAllRoutineSamplesForOpenData btn btn-primary" data-tvitemid="@ProvinceTVItemID" data-useforopendata="false">
                    <span>@OpenDataViewRes.NotUseForOpenData</span>
                </button>
            </span>
            <span class="OpenDataWorkingDiv hidden">
                @OpenDataViewRes.Working ... @OpenDataViewRes.YouCanClickTheStatButtonToSeeTheStatusOfTheTask
            </span>
        </div>

        <button class="jbOpenDataStat btn btn-default" data-tvitemid="@ProvinceTVItemID">
            <span class="glyphicon glyphicon-arrow-right" title="@OpenDataViewRes.ShowOrHideMWQMSiteList"></span>
            @OpenDataViewRes.Stat
        </button>
        <span class="OpenDataStatSpan"></span>

        <br />
        <hr />

        @foreach (TVItemModel tvItemModel in tvItemModelSubsectorList)
        {
            <div class="OpenDataSubsectorDiv panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <button class="jbOpenDataReloadSubsector btn btn-default" data-subsectortvitemid="@tvItemModel.TVItemID">
                            <span class="glyphicon glyphicon-arrow-down" title="@OpenDataViewRes.ShowOrHideMWQMSiteList"></span>
                        </button>
                        <span>@tvItemModel.TVText</span>
                        <button class="jbOpenDataStat btn btn-default" data-tvitemid="@tvItemModel.TVItemID">
                            <span class="glyphicon glyphicon-arrow-right" title="@OpenDataViewRes.ShowOrHideMWQMSiteList"></span>
                            Stat
                        </button>
                        <span class="OpenDataStatSpan"></span>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="OpenDataMWQMSiteListDiv">

                    </div>
                </div>
            </div>
        }
    </div>
</div>
